[2019-02-08 17:03] hawkw opened #4 "Set up CI"
We can probably base our config on [the `.travis.yml` from the `tokio-trace-prototype` repo](https://github.com/hawkw/tokio-trace-prototype/blob/master/.travis.yml), modulo the following:
- remove `tokio-trace` and `tokio-trace-core` crates from the tests (as they live in the `tokio-rs/tokio` repo)
- add `tokio-trace-macros` to the crates tested in the main script
- change the "test proc macros" s

[2019-02-08 17:05] hawkw opened #5 "Pass paramaters into a new span in `#[trace]` macro"
copied from hawkw/tokio-trace-prototype#53:

[2019-02-08 17:06] hawkw commented on #5
We can probably just `field::debug` _most_ function args, although it might still be worth having an ignore attribute for those that don't implement `Debug`.

[2019-02-08 17:10] hawkw opened #6 "Ensure #[trace] macro works correctly for async functions."
copied from hawkw/tokio-trace-prototype#54:

[2019-02-08 17:16] hawkw opened #7 "Add a README"
This repo needs a README.

[2019-02-08 21:23] #4 closed

[2019-02-09 02:15] #5 closed

[2019-02-10 04:58] kleimkuhler opened #11 "Add ignored parameters with `#[trace_ignore]`"
As mentioned in #5:

I think this could be easier to add now that parameters are passed into `span!`. @hawkw was what you had in mind for this something like this?

[code]

[2019-02-10 19:35] hawkw commented on #11
@kleimkuhler that seems reasonable. Alternatively, we could place the attribute on the argument to ignore, as in:

[code]
though I'm not sure if there's existing precedent for attributes on args?

[2019-02-10 19:39] hawkw commented on #11
Yet another option would be passing the ignored fields as an argument to the `#[trace]` attribute, like
[code]
though that seems potentially confusing.

We could also just make the `#[trace]` attribute opt-in, so you could say
[code]
to ignore `bar` and `baz`. Using `#[trace]` without any arguments would be equivalent to passing all the function's parameters.

I'm not sure which is the most ergono

[2019-02-10 21:01] kleimkuhler commented on #11
Of those options I think `#[trace(...)]` is most reasonable. I don't really like the way tagging individual parameters looks.

Opt-in vs opt-out is something I'd be interested to hear @davidbarsky thoughts on! I'm not really sure if one makes sense over the other.

[2019-02-10 22:56] hawkw commented on #11
Yeah, I'm inclined to agree that putting the attribute on individual
parameters is probably not the most intuitive, since AFAIK there's not
really much precedent for attributes on function args.

Beyond that I'm fine with whatever, as long as  `#[trace]` on its own
defaults to recording all the parameters (which IMO is going to be the most
common case).

On Sun, Feb 10, 2019 at 1:01 PM Kevin Leimk

[2019-02-18 22:40] hawkw opened #12 "Add span and event macros that are only enabled in debug mode"
See also https://github.com/tokio-rs/tokio/pull/827#pullrequestreview-192351684.

It would be nice to have `debug_span!` and `debug_event!` macros in the `tokio-trace-macros` crate which are only enabled in debug mode builds.

We can detect debug mode with
[code]

In debug mode, these macros would behave identically to the `tokio_trace` crate's `span!` and `debug!` macros. In release mode (i.e. `#

[2019-02-20 06:49] jsgf opened #80 "tokio-trace: how to use Spans to represent concurrency?"
I've been reading the code for tokio-trace, and I've got some questions about `Span`s and how they're intended to be used.

It looks like they're pretty good at representing strictly nested time-periods, as you'd get with a function call tree. But its unclear to me if the direct children of a parent `Span` can overlap with each other (ie, representing long-term concurrent operations).

For example

[2019-02-21 01:03] davidbarsky opened #15 "Explore whether to use syn-md"
[syn-mid](https://github.com/taiki-e/syn-mid) seems like an interesting library that provides constructs such as “functions whose bodies aren't parsed” and “blocks whose bodies aren't parsed”. This might help with some of the attribute macros.

[2019-02-22 16:38] luser opened #16 "tokio-trace-futures' instrument can be a little clunky for functions that return a Future but do other work first"
With a lot of help from @hawkw I've got [a branch](https://github.com/mozilla/sccache/compare/master...luser:tokio-trace) that uses tokio-trace for logging in sccache. [I used a span to instrument a `Future`](https://github.com/luser/sccache/blob/7285385dc21164c4e1f25063aba7ab1060a50592/src/server.rs#L838-L962) but was confused by the fact that some of my log messages didn't have the span fields a

[2019-02-22 16:44] hawkw commented on #16
This is a great idea, and definitely something the `tokio-trace-futures`crate should be able to provide by way of an extension trait implemented for `Span`. Thanks for the suggestion 👍

[2019-02-22 18:14] hawkw commented on #16
Another potential solution, which would be more general, is to add a method to the `Instrument` API to instrument a future in the _current_ span. This way, you could say something like
[code]
However, we can't actually implement something like this with [the current iteration of the `Subscriber` API](https://tokio-rs.github.io/tokio/tokio_trace/subscriber/trait.Subscriber.html#required-methods) as

[2019-02-22 18:34] carllerche commented on #16
Another option might be something like:

[code]

[2019-02-22 18:34] carllerche commented on #16
I agree we need to figure this out though...

[2019-02-22 18:35] carllerche commented on #16
We really need to figure out how tracing fits in with spawning. Obviously, Tokio can help and provide hooks :)

[2019-03-07 19:02] hawkw opened #23 "fmt: Consider storing fields in a more structured way"
Currently, the `tokio-trace-fmt` crate stores each span's fields as a single `String` in the span store. The intention is to improve performance by allowing the fields to be formatted a single time, and avoid making multiple allocations by reusing the string. When a span is formatted in order to print an event inside that span, we can simply write the string to the formatter's output.

However, th

[2019-03-07 19:04] hawkw commented on #12
tokio-rs/tokio#959 is a proposed change to the `tokio-trace` crate that would obsolete this.

[2019-03-13 18:27] hawkw opened #28 "subscriber: Rewrite the subscriber-util crate"
This is a tracking issue for getting the `subscriber` crate into an actually usable state.
- [ ] generalize the `Store`/`Context` types from the `fmt` crate into something reusable
- [ ] better registry/context trait, and have the store impl it
- [ ] update the teeable traits (currently `Observe`) to be compatible with the current API
- [ ] update the filtering traits to be more like the ones in `

[2019-03-13 18:39] LucioFranco opened #29 "metrics: Introduce `tracing-metrics` subscriber/crate"
This is a tracking issue for introducing a new `tokio-trace-metrics` crate that will contain a metrics-based subscriber and traits that metrics providers can implement:

- [ ] Create a `Metrics` subscriber
- [ ] Provide a `Metrics` agnostic backend trait

[2019-03-13 18:50] hawkw commented on #29
The first question I have is whether or not we want to have a `tokio-trace-metrics` crate or just crates for particular metrics systems (`tokio-trace-prometheus`, `tokio-trace-influxdb`, and so on).

 I think this basically depends on how many common concepts there are between various metrics systems --- how much can we actually abstract away? If the metrics systems we want to support has concepts

[2019-03-13 19:57] LucioFranco commented on #29
@hawkw great points!

So I think _most_ metrics are roughly the same counters, gauges, histograms etc. Though I think you do have a good point that we shouldn't jump into a trait right away. What I think the best path forward right now then would be to build a basic general metrics subscriber, that is based on hotmic. Then use it as a platform to explore how other metric systems could be built. Fo

[2019-03-14 19:02] LucioFranco opened #81 "trace-core: Augment `Subscriber::record_follows_from` docs"
Currently, reading the [`Subscriber::record_follows_from`](https://docs.rs/tokio-trace-core/0.1.0/tokio_trace_core/subscriber/trait.Subscriber.html#tymethod.record_follows_from) are extensive but lacks information of when this might be called. There exists the api in `tokio-trace` it self for a span to follow from another but this does not exist in `tokio-trace-core` and this to me is an area that

[2019-03-25 23:16] hawkw commented on #12
Closed by tokio-rs/tokio#987.

[2019-03-25 23:16] #12 closed

[2019-04-02 23:00] mbilker commented on #6
I don't know how related this is but it does deal with the `std::future::GenFuture` returned from `async` functions.

I tried to write an `Instrumented` implementation for `std::future::Future`, but ran into issues because `GenFuture` implements `!Unpin` so you can't do `Pin::new(inner)` if you go by the `futures::Future` implementation.

I got around this by adding a `boxed_instrument` method whi

[2019-04-02 23:36] hawkw commented on #6
@mbilker this is definitely relevant, thanks! I think having `tokio-trace-futures` support futures 0.3 is definitely a prerequisite for supporting async-await in the proc macros, thanks for looking into it. I'd love to see a branch with your solution!

[2019-04-03 00:13] mbilker commented on #6
Since I only have experience with futures 0.1, I took a look at futures 0.3 and `futures::future::Future` appears to be a re-export of `std::future::Future`, which means the code I have should work for futures 0.3.

[2019-04-03 00:21] mbilker commented on #6
Put up my changes at https://github.com/mbilker/tokio-trace-nursery/tree/std-future

[2019-04-03 00:23] mbilker commented on #6
If tokio-trace-futures is targeting versions before 1.33.0, then `boxed_instrument` needs to have an alternate implementation to use `Box::new` instead `Box::pin` as `Box::pin` was stabilized in 1.33.0.

[2019-04-05 19:09] LucioFranco opened #42 "fmt: Support reloading enabled levels during runtime"
Support the ability to reload the currently enable spans/levels during runtime.

cc @hawkw

[2019-04-05 19:21] hawkw commented on #42
:+1:, this would be nice to have.

Here's how I'd probably do it:
1. We could add a new function to `FmtSubscriber` that takes a new filter and changes the filter to the previous value.
2. Then, we could use the subscriber downcasting API that was added in tokio-rs/tokio#974 to invoke that function on the `FmtSubscriber`. So, when we set the subscriber as the default, we could hold onto a `Dispatc

[2019-04-08 04:16] yaahallo commented on #15
I'm interested in taking a look at this.

[2019-04-08 12:11] davidbarsky commented on #15
@yaahallo That'd be great! I also tried out [Darling](https://github.com/TedDriggs/darling/) in another library which treats procedural macros like Serde attributes—it might be a worthwhile thing to consider. The best examples I've seen for Darling were in their [integration tests folder](https://github.com/TedDriggs/darling/tree/master/tests).

[2019-04-09 17:46] hawkw opened #46 "Serde compatibility crate"
There ought to be a compatibility crate allowing fields to be recorded using `serde`.

I think we could do this by having a newtype that wraps a type implementing `serde`'s [`Serializer`] trait and implements the `tokio-trace-core`'s [`Visit`] trait by dispatching to the appropriate `Serializer` trait methods.

Then, we could have newtypes that wrap `tokio-trace-core`'s [`Event`], [`Attributes`],

[2019-04-09 23:40] DebugSteven commented on #46
I'd like to take a shot at it!

[2019-04-10 18:38] #42 closed

[2019-04-13 00:44] yaahallo commented on #23
commenting to record my interest in working on this and make it so github lists this issue on my dashboard

[2019-04-13 16:42] hawkw commented on #23
(I'm guessing @stjepang closed this by accident)

[2019-04-24 01:53] anp opened #48 "Clarify licensing?"
Hi! I can't find any licensing information in the repository so far. Are you planning to license these crates under an MIT license, as tokio itself has? If so, it'd be awesome if one were added ASAP with the sign-off of existing contributors so that new contributions are appropriately licensed.

[2019-04-25 17:55] hawkw commented on #48
Thanks for pointing that out --- the intention is to license these crates under the same license as the rest of `tokio`. This repo was originally created as a clone of the prototype repo, so I forgot to add a license (and a README), my bad.

[2019-04-25 17:58] hawkw commented on #48
@davidbarsky, @LucioFranco, @kanishkarj, @kleimkuhler, and @jxs, you've all committed code to this repository. I'm guessing you're all comfortable licensing your contributions under the same license as the rest of tokio, but I want to double check to make sure.

[2019-04-25 18:04] LucioFranco commented on #48
👍 from me

[2019-04-25 18:25] jxs commented on #48
yes ofc 🙂

[2019-04-25 18:26] davidbarsky commented on #48
@hawkw I'm okay with that!

[2019-04-25 21:05] jonhoo opened #84 "trace [docs]: explain field vs attribute/meta syntax"
The docs don't currently explain the difference between `x: y` and `x = y` syntax in `span!` and `event!` macros. It would be useful if that existed, and also told you what possible `x`s you can set in `x:` context for both span and event.

[2019-04-25 21:21] kleimkuhler commented on #48
@hawkw Yes I am okay with that as well!

[2019-04-25 21:46] hawkw commented on #48
Great I figured as much --- just wanted to make sure for "legal reasons" :)

[2019-04-25 23:44] jonhoo opened #85 "trace [docs]: docs should make clear what a "target" is"
Maybe I missed it, but it wasn't clear to me what a "target" was, or what I might set it to. @hawkw pointed me to the `log` docs, which say:

Having something similar, maybe with some more context, would be helpful.

[2019-04-25 23:46] jonhoo opened #86 "trace [docs]: show examples of setting explicit parents"
The span docs don't currently give examples of setting the `parent` attribute explicitly, nor do they talk about why you may want to do that.

@hawkw also mentioned that it might be good to support `parent` on `event!`.

[2019-04-27 16:26] anp commented on #48
Yay! I’d open a PR to add the license file but I’m not sure whether my employment agreement allows it (I’m normally restricted from contributing to repos which have approved licenses, kinda hilarious bigco chicken and egg situation). Any chance one of y’all have a sec to throw one up? I have a couple of things I’d love to contribute :D.

[2019-04-27 16:41] hawkw commented on #48
Done! https://github.com/tokio-rs/tokio-trace-nursery/commit/3be08a81939384af033ce275771f3eec17e6f120

[2019-04-27 16:41] #48 closed

[2019-05-01 00:06] davidbarsky commented on #6
@hawkw and I chatted about instrumenting async functions. Below is a brief summary.

An async function like the one below...

[code]

...desugars to something like:

[code]

We can use this knowledge and a sprinkling of [syn-mid](https://github.com/taiki-e/syn-mid/) to instrument an async function's _future_. syn-mid exposes two structs: [ItemFn](https://docs.rs/syn-mid/0.3.0/syn_mid/struct.ItemFn

[2019-05-02 20:58] yaahallo commented on #6
@davidbarsky yea I'm interested, I'll look into this more in depth tonight :)

[2019-05-03 19:10] yaahallo commented on #6
[code]

[2019-05-03 19:58] davidbarsky commented on #6
@yaahallo sorry, I didn't mean to do make `.instrument!()` a macro! I mean to use point at something like this: https://github.com/tokio-rs/tokio-trace-nursery/blob/08db36d475c4af28821434f60d4f4ed9748452ee/tokio-trace-futures/examples/proxy_server.rs#L76

[2019-05-03 20:00] davidbarsky commented on #6
Erm, the _entire_ block, which looks is:

[code]

[2019-05-03 20:02] hawkw commented on #6
Pretty sure that's a typo...

[2019-05-09 06:57] archseer opened #53 "tower_grpc compatibility with tokio_trace_tower_http"
Can't seem to get it to work with latest tower_grpc:

[code]

[code]

It refuses to compile without the type annotation, so I've specified the one above, but I'm not sure it's correct. The following three were available:

[code]

[2019-05-21 18:04] hawkw opened #87 "trace: Support setting event parent events explicitly"
## Motivation

Currently, the `tokio-trace` span macros allow setting the parent span explicitly as a parameter of the macro, as well as contextually. However, events created via the event macros _always_ have their parents determined contextually. It would be nice to allow setting explicit parents for events as well (as @jonhoo mentioned in #1065).

## Implementation

Making this change will requ

[2019-05-28 13:02] DebugSteven commented on #46
I've been struggling a bit getting this issue done & I've talked with Eliza out of band about it. I thought I would go ahead & push up some of my work on this issue on my fork. Maybe some other folks have ideas about how we can get `serde` compatability.

The problem I'm running into is how exactly to implement `Visit`. All the `Serializer` methods consume `self` by-value but the `Visit` methods t

[2019-05-28 18:19] LucioFranco commented on #46
@DebugSteven hmm, I took a look, I'm not sure I understand where the issue is with `Serializer` consuming self? Could you point out where you are seeing this issue?

I think for the second option, we probably just want to drop the field maybe? Serde can fail since its more general but in a logging/tracing context, it makes sense for it to not fail since im not sure what you'd do with the failed da

[2019-05-28 21:53] hawkw commented on #46
When serializing something that implements `Visit`, you're probably going to be using a [`SerializeMap`](https://docs.serde.rs/serde/ser/trait.SerializeMap.html) rather than a `Serializer`, since we want to record fields as map key/value pairs. `SerializeMap`'s serialize functions take `&mut self`.

I'd probably recommend something like this (note that this is just a sketch):

[code]

One other th

[2019-06-05 17:55] hawkw opened #78 "trace: Consider committing to 'static Span metadata"
## Subcrates

`tokio-trace-core`

## Motivation

Currently, the `span::Attributes` type in `tokio-trace-core` contains a reference to `Metadata` with a generic lifetime `'a`. This means that if a `Subscriber` wishes to store span metadata, it cannot simply store a `&'static Metadata<'static>`. Instead, it must extract the individual components from the metadata and store them in its own structure.

[2019-06-07 22:43] hawkw opened #77 "trace: Determine new syntax for uninitialized fields"
Followup from #1062 and https://github.com/tokio-rs/tokio/pull/1103#issuecomment-500019388.

Prior to #1103, the syntax `field,` was used by the `tokio-trace` macros to indicate span fields which have yet to have a value recorded. In order to support shorthand for using local variables as fields, we changed the meaning of this syntax, since local variable shorthand is likely to be a more common us

[2019-06-13 08:12] kazimuth opened #89 "Distributed tracing"
I saw a little bit of discussion of this in tokio-rs/tokio#561, but there aren't currently any open issues for it, so I figured I'd start one.

Distributed tracing is like tokio-trace but extended for distributed systems; instead of tracing only within a single process, you can trace code execution of code across process boundaries, machines, data centers, continents... There are a number of syste

[2019-06-14 16:40] LucioFranco opened #90 "trace-core: Support creating an event outside of a subscriber context"
During my implementation of a rate limiter subscriber that wraps another subscriber like `tokio-trace-fmt` I ran into the want to create a custom rollup event within the `Subscriber::event` trait fn. Since we are outside of a subscriber context we can not use `Event::dispatch` but I want an `Event` that I can pass to the inner subscriber that contains custom attributes and a custom message.

The p

[2019-06-15 02:57] kazimuth opened #76 "Tokio-trace docs"
It might be helpful to have:

- a link to tokio-trace in the main tokio README
- links to the various tokio-trace subscribers in the tokio-trace README, similar to how [log lists loggers](https://crates.io/crates/log/)
- a README for tokio-trace-nursery and its various subcrates
- docs for how to setup tokio-trace across a whole program, instead of just on a single thread. (I honestly don't know h

[2019-06-16 00:28] amousset opened #63 "Reloading an EnvFilter in tokio-trace-fmt"
I'm trying to use the filter reloading introduced in #45, but get stuck with `cannot infer type for N`, for example with:

[code]
which gives:

[code]

(But N cannot be specified because of `impl Into`)
Am I missing something?

[2019-06-16 18:39] hawkw commented on #63
Does
[code]
work?

I think it may be worth looking at changing the type signature for `EnvFilter` to make this a little less confusing. The filter interface (like most of the other crates in the `tokio-trace-nursery` repo) is still in a prototype state. I can look into improving this API.

[2019-06-16 18:55] hawkw commented on #63
A quick update: I've opened #64, which should fix this. I've included your sample code as a test in that branch, and it now compiles. Thanks for reporting this!

[2019-06-16 19:20] amousset commented on #63
I successfully tested #64, thanks for the fix! (and thanks a lot for tokio-trace!)

[2019-06-17 16:34] #63 closed

[2019-06-17 16:35] hawkw commented on #63
@amousset my pleasure, glad it was easy to fix. Thanks again for the bug report. #64 is now on master!

[2019-06-17 19:32] #46 closed

[2019-06-18 19:11] jonhoo opened #79 "trace: Non-contextual span enter/leave"
I am currently instrumenting [`tokio-tower`](https://github.com/tower-rs/tokio-tower), and am running into a use-case that I don't think `tokio-trace` really supports. I want to trace the full path of a given request through the system, so the request is given its own `Span`. That `Span` should be entered once when the request is first issued, and not be left again until the request eventually res

[2019-06-19 19:35] hawkw opened #68 "fmt: EnvFilter should allow `off` directives"
The `env_logger` crate allows log directives ending in `off` to _disable_ all logging from a matching target. However, `tokio-trace-fmt`'s `EnvFilter` does not:
[code]

We should add support for `off` directives.

[2019-06-19 20:45] #7 closed

[2019-06-20 21:08] hawkw opened #71 "log: Cache interests"
## Feature Request

### Crates
`tokio-trace-log`

### Motivation

Currently, after #70, the `LogTracer` struct in `tokio-trace-log` will call `Subscriber::enabled` every time an event occurs. This is not great. It would be nice if we could register callsites for these events with the subscriber, and cache interests for them.

### Proposal

Unfortunately, we cannot call `Subscriber::enabled` in our

[2019-06-20 23:03] #68 closed

[2019-06-21 17:43] hawkw opened #73 "Utility for filtering fields at the visitor level"
## Feature Request

### Crates
- `tokio-trace-subscriber`
- possibly `tokio-trace-fmt`

### Motivation

Spans and events may be created with up to 32 fields. In many cases, these fields will provide fairly verbose diagnostic information about the program. Sometimes, users may wish to record data about a span or event, but exclude particularly verbose data attached to it (such as fields provided by

[2019-06-24 19:29] hawkw opened #82 "trace-core: Consider adding follows_from to `Attributes`"
It might be worthwhile to consider adding a set of span IDs that a span follows from to the `span::Attributes` type in `tokio-trace-core`.

Currently, when a span is created with field values already specified, it provides those values in the `Attributes` struct passed to `Subscriber::new_span`, rather than calling `Subscriber::record` multiple times after the call to `new_span` returns. This avoi

[2019-06-24 19:30] Ralith opened #83 "trace: support string interpolation"
Log readability is significantly improved by interleaving information with text, rather than supplying a static string followed by a set of key-value pairs. tokio-trace's macros should support constructing such interpolated strings while preserving the interpolated data as structured fields.

Additionally, any out-of-the-box subscribers targeting direct human consumption (such as by printing to st

[2019-06-24 19:31] hawkw opened #88 "trace: When a span's explicit parent is disabled, the parent should probably be contetual"
In `tokio-trace`, when constructing a span using `Span::child_of`, we accept a type that can provide us an `Option<&Id>` as the span's parent. This allows writing code like this:

[code]
It's necessary to take an `Option<&Id>` here rather than just `&Id`, as the parent span may not be enabled --- for example, in the snippet above, we might have a filter set that accepts spans with `Level::DEBUG` a

[2019-06-25 00:19] davidbarsky opened #93 "Apply @jonhoo's suggested documentation changes."
In the the interest of moving tracing out of the main tokio repository, I've preemptively merged https://github.com/tokio-rs/tokio/pull/1148 before all of @jonhoo's suggestions could be applied. This issue tracks the application of Jon's suggestions in _this_ repository.

[2019-06-25 16:34] jonhoo opened #94 "The fmt subscriber should include timestamps by default"
## Feature Request

### Crates

`tokio-trace-fmt`

### Motivation

Currently there is no good way to get timestamped log entries with the `tokio-trace-fmt` subscriber. Even with `full`, timestamps are not included. This is surprising to those coming from other logging crates. It is also inconvenient to work around, as you would either need to add a custom field to _all_ spans and events across all

[2019-06-25 18:07] hawkw opened #95 "Rename to tracing"
### Crates

all

### Motivation

As described in https://github.com/tokio-rs/tokio/issues/1159#issuecomment-503782726, the name `tokio-trace` has created the incorrect impression that using this library _requires_ the tokio runtime.

### Proposal

We are in the process of moving the main crates from the `tokio` repository to this repository, and have renamed the repository to `tracing`. At the sam

[2019-06-26 18:31] #95 closed

[2019-06-26 18:43] carllerche commented on #78
We should commit to `'static`. We can always pass all data from `log` as callsite fields and have a subscriber layer to normalize.

[2019-06-26 18:45] hawkw commented on #78
Yeah, based on a Gitter conversation with @jonhoo and @carllerche, I agree that committing to `'static` for both `Span`s _and_ `Event`s is the right thing, and we should turn non-static `log::Record` data into fields.

I'll make this change prior to `tracing-core` 0.1.

[2019-06-26 19:49] hawkw opened #100 "tracing: possible bug in when setting event parents"
## Bug Report

### Crates

`tracing`

### Description
When running tests that set explicit parents using the Event macros, the compiler emits warnings that the parent span is unused:

[code]

This implies to me that the bug where the `$LEVEL_span!` macros didn't actually propagate parents to the `span!` macro parents, fixed in tokio-rs/tokio#1167, may also apply to the event macros, since support

[2019-06-26 20:19] hawkw opened #102 "tracing: span! and event! macros are inconsistent"
## Bug Report

### Crates

`tracing`

### Description

The `span!` and `event!` macros in `tracing` are inconsistent. `span!` takes attribute arguments (`target:`, `parent:`) after the verbosity level, while `event!` puts them before. We should make both macros consistent.

The format used by `event!` is closer to the `log` crate's `log!` macro, so personally, I think we should change `span!`.

[2019-06-26 20:20] hawkw opened #103 "Update to 2018 edition"
Now that the minimum Rust version is 1.34.0, we should consider migrating all `tracing` crates to the 2018 edition.

[2019-06-26 20:21] hawkw commented on #87
This was closed by tokio-rs/tokio#1109.

[2019-06-26 20:21] #87 closed

[2019-06-26 21:43] hawkw commented on #88
This may require us to think a bit more about the syntax for explicit root spans in the macros. We can no longer use `parent: None` to indicate an explicit root, since we want to match the `parent` argument as an expression. We could consider adding a new "keyword" to the macros, like `parent: root`, instead --- it would be great to get some input from folks on syntax before making this change.

[2019-06-26 21:43] hawkw commented on #88
@carllerche, @LucioFranco, @davidbarsky, @jonhoo, any thoughts on the syntax question above? If we're making a breaking change here, it would be good to get it in before `tracing` 0.1.

[2019-06-26 21:52] #100 closed

[2019-06-26 21:56] hawkw opened #105 "tracing-core: Replace macros with `const fn`s"
## Feature Request

### Crates

`tracing-core`

### Motivation

Since the minimum Rust version we support is now 1.34, we can now use `const fn`, which [stabilized in Rust 1.31](https://blog.rust-lang.org/2018/12/06/Rust-1.31-and-rust-2018.html#const-fn). There are a few types in `tracing-core`, such as `Metadata`, which have `#[doc(hidden)] pub` fields and are constructed by macros, but could be

[2019-06-26 22:10] hawkw commented on #105
Hmm, looks like `identify_callsite!` can't become `const fn Callsite::id`, since trait bounds on static fn params aren't stable yet. Bummer.

[2019-06-26 23:31] #105 closed

[2019-06-26 23:36] jonhoo commented on #94
Closed by #96

[2019-06-26 23:36] #94 closed

[2019-06-27 22:18] #78 closed

[2019-06-28 17:20] hawkw commented on #81
This was fixed in d1a6eff98d8f74d8017dd1c7cf5e4628615222a8

[2019-06-28 17:20] #81 closed

[2019-06-28 17:20] hawkw commented on #84
This was fixed in d1a6eff98d8f74d8017dd1c7cf5e4628615222a8

[2019-06-28 17:20] #84 closed

[2019-06-28 17:21] hawkw commented on #85
I think d1a6eff98d8f74d8017dd1c7cf5e4628615222a8 fixed this?

[2019-06-28 17:21] hawkw commented on #86
This was fixed in d1a6eff98d8f74d8017dd1c7cf5e4628615222a8

[2019-06-28 17:21] #86 closed

[2019-06-28 17:23] hawkw commented on #76
I believe all of the points in this issue except for "a link to tokio-trace in the main tokio README" have been addressed in 36ed35c52c88aa7b737e3502b91075a80a548baa and d1a6eff98d8f74d8017dd1c7cf5e4628615222a8. I think it would definitely be good to mention `tracing` in the `tokio-rs/tokio` readme and on the Tokio website, but that seems like issues against those repositories?

[2019-06-28 17:23] #76 closed

[2019-06-28 17:23] jonhoo commented on #85
Yup!

[2019-06-28 17:23] #85 closed

[2019-06-28 17:50] #102 closed

[2019-06-28 18:04] davidbarsky commented on #28
@hawkw noted that subscriber layering + low contention span structures would handle something like 90% of fanout-related usecases.

[2019-06-28 18:07] davidbarsky opened #117 "Support std::future"
This is pretty important for a 0.1 tracing release.

[2019-06-28 20:36] hawkw commented on #117
This isn't necessary for `tracing` v0.1, as it doesn't actually touch the `tracing` crate --- this change would be in `tracing-futures`. I'd definitely call it a release blocker for _that_ crate though!

[2019-06-28 21:20] hawkw commented on #103
This is _probably_ as simple as `cargo fix --edition`.

[2019-06-28 21:27] davidbarsky opened #121 "Get tracing-fmt into a release-ready form"
There's some long-hanging fruit that include:

- Documentation
- Generalization of fmt-specific APIs that can land in a more general subscriber crate.

[2019-06-30 03:18] waywardmonkeys opened #125 "tracing-nursery repository doesn't exist"
There are references to a `tracing-nursery` repository, but it doesn't seem to exist.

[2019-06-30 05:20] #103 closed

[2019-07-02 17:09] hawkw opened #133 "tracing: Replace macro-rules with procedural macros"
## Feature Request

### Crates

`tracing`

### Motivation

Now that we are not supporting Rust 1.26.0 as our minimum compatible version, we can ship procedural macros in `tracing`. Replacing the existing `macro_rules` macros should improve user-facing error messages, make the macros more maintainable, and make it easier to add new features to them in the future (such as #83).

### Proposal

The ma

[2019-07-02 17:10] hawkw commented on #133
I believe @Ralith is working on this. My understanding is that it is currently blocked on  #661.

[2019-07-02 17:17] Ralith commented on #133
This is accurate. If that issue can be fixed, I am otherwise very close to a working prototype of `event!()`.

These macros will necessarily rely on proc-macro-hack, which means that they can't be used by downstream code directly from the crate they're implemented in; an intermediate re-exporting crate is always necessary. My understanding is that `tokio(-proc)-macros` are intended to be user-faci

[2019-07-02 18:03] hawkw opened #135 "Tracking issue for composing multiple subscribers"
## Feature Request

### Crates

`tracing-subscriber`

### Motivation

In many cases, it is valuable to compose multiple consumers for trace events. However, certain aspects of `tracing`'s design --- in particular, that span IDs are assigned by the subscriber, and that a single subscriber collects events from multiple threads --- make it difficult to compose the `Subscriber` trait directly.

### Pr

[2019-07-02 18:06] hawkw commented on #28
I've opened a milestone (`tracing-subscriber 0.1`) to track getting the subscriber crate production-ready. I think this issue should be closed in favour of the milestone?

[2019-07-02 18:20] LucioFranco commented on #135
@hawkw this sounds really good. I think the layer approach will work well for decorating subscribers. I'm curious to see how composing filters might work. I think the most valuable thing we can provide right now is the data structure for tracking state. This is something ive rewritten three times. So I think by far the first step here is to produce that. Then continue to learn how wrapper subs wor

[2019-07-02 18:22] Ralith commented on #133
Looks like it might not be a syn issue: https://github.com/dtolnay/proc-macro-hack/issues/34

[2019-07-02 18:29] hawkw commented on #135
#136 is a draft proposal for a layer trait for subscriber composition.

[2019-07-03 02:40] anp opened #137 "tracing 0.1 fails to compile with `log` feature enabled"
Hello! I am very excited to switch from tokio-trace 0.1 to tracing 0.1! Sadly I appear to be unable to compile the new release with the `log` feature enabled.

### Platform

Windows 64-bit

### Crates

Cargo.toml:

[code]

Compiler error:

[code]

Cargo.lock:

<details>
# This file is automatically @generated by Cargo.
# It is not intended for manual editing.
[[package]]
name = "cfg-if"
version =

[2019-07-03 03:45] hawkw commented on #137
Yeah, this is my fault --- the `log` feature's integration tests were misplaced in the repository move, and then we made some changes that broke that feature by mistake. I'm working on fixing it in #131, but have hit some odd test failures.

Once this is fixed I'll get `tracing` 0.1.1 out ASAP.

[2019-07-03 03:50] hawkw commented on #137
If you're curious, the gory details are basically just that the `log` feature has to be tested in a separate crate, since it's a feature flag that's off by default, and I forgot to have CI test the separate test crate when moving over the CI configs from the tokio repo. Sadly, not that exciting.

[2019-07-03 03:59] hawkw commented on #137
Ah, I've [figured out](https://github.com/tokio-rs/tracing/pull/131/commits/97f6ff1f759d43476cec86064621cb803b0646be) why the PR that fixes the `log` feature wasn't passing CI --- should get the fix merged shortly!

[2019-07-03 04:44] #137 closed

[2019-07-03 04:46] hawkw commented on #125
This is my fault --- it's a find-and-replace mishap from when this library was called `tokio-trace` and there was a `tokio-trace-nursery` repository. Those crates now live in this repository. The docs should be fixed.

[2019-07-03 04:49] hawkw commented on #80
I think we've put some work into fixing up the docs so that this is a little clearer. I'm closing this ticket for now.

[2019-07-03 04:49] #80 closed

[2019-07-03 15:03] Ralith commented on #133
Now isolated to a compiler issue: https://github.com/rust-lang/rust/issues/62325

[2019-07-03 15:57] hawkw commented on #133
Thanks for keeping us updated, @Ralith --- great to hear that progress is being made on unblocking this!

[2019-07-03 17:37] jonhoo opened #140 "Void spans"
## Feature Request

### Crates

`tracing`

### Motivation

In `tokio-tower`, and elsewhere, I have cases where I may or may not want to include a `Span` with something like a request. For example, I want to trace only a certain subset of the requests. To do that, I currently have to keep an `Option<Span>` along with some code like:

[code]

### Proposal

The solution outlined above works okay, but

[2019-07-03 18:18] hawkw commented on #125
#142 removes all the references to the `tracing-nursery` repository in the `tracing` readme and RustDoc. #141 removes mentions of it from `CONTRIBUTING.md` I'm going to make sure there aren't any other references to a `tracing-nursery`, and if that's all of them, I think this is fixed.

[2019-07-03 20:27] #125 closed

[2019-07-03 20:38] hawkw commented on #140
I think this would be a change in `tracing` rather than `tracing-core`; the `Span` type is from `tracing` :)

I think we could implement this rather easily, actually. It could look like this:
[code]
We could then hack the log support to not log for spans originating at the empty callsite.

We would need to make sure the documentation clearly distinguishes between `Span::new_disabled` and `Span::no

[2019-07-03 21:17] hawkw commented on #137
@anp Just wanted to let you know that we've published [`tracing` v0.1.1](https://crates.io/crates/tracing/0.1.1) with this fix!

[2019-07-03 21:47] jonhoo commented on #140
Updated!

[2019-07-03 22:00] hawkw commented on #140
As an alternative, we could also move the metadata field optional. I think that might be the right approach. It'd make life easier for a `Span::current` function in the case that we're not currently in a span; otherwise, we'd have to return `Option<Span>`. And, since it's a reference, it shouldn't make the struct bigger to add an option.

[2019-07-04 02:10] mbilker commented on #117
I sort of have this working in a local build that I did awhile ago. I'll have to see if I can get it working again and see if I can shave off the need to have the type be `Instrumented<Pin<Box<T>>` to get `Unpin`.

[2019-07-04 06:02] mbilker commented on #117
I put up my current work over at https://github.com/mbilker/tracing/tree/std-future. Currently, you have to call `boxed_instrument` when working with `std::future` so the inner future gets pinned.

[2019-07-05 19:03] #140 closed

[2019-07-05 21:36] jonhoo opened #151 "trace_span no longer compiles in 0.1.1"
## Bug Report

### Version

[code]

### Description

Attempt to compile this program with `tracing = "0.1.1"` in `Cargo.toml`:
[code]
It fails to compile on both rustc 1.35.0 and 1.36.0 with
[code]
It compiles fine with `tracing = "=0.1.0"`

[2019-07-05 21:50] hawkw commented on #151
@jonhoo can you confirm that #152 fixes this for you? I can get a new point release out if it does.

[2019-07-06 16:49] #151 closed

[2019-07-07 18:02] hawkw opened #157 "subscriber: High performance span store"
## Feature Request

### Crates

`tracing-subscriber`

### Motivation

In many use cases, `Subscriber` implementations will need to store data for each span over the course of that span's lifetime. Since the `Subscriber` interface is based on `&self` references, and a single subscriber is shared across multiple threads, storing mutable per-span data requires some kind of locking.

The naïve approac

[2019-07-08 20:13] yaahallo opened #158 "enter! macro"
Right now there is some mandatory boilerplate whenever using span!.

[code]

It cannot be written as

[code]

In order for it to work you must bind the span to a temporary and you must bind the guard to another ignored temporary and that cannot be `_` because of rust drop semantics.

# The Idea

Here enters the enter! macro.

[code]

which should just expand to the first example.

[2019-07-08 20:20] hawkw commented on #158
I like the idea of having an `enter!` macro that takes an expression expanding to a `Span`, rather than taking the arguments and forwarding them to the `span!` macro, as it means we don't need to have `enter_trace!`, `enter_debug!`, and so on.

Should be quite easy to add a macro like this:
[code]

[2019-07-08 20:26] yaahallo opened #159 "proc-macros: recursion limit bug"
the following code snippit causes a recursion limit bug

[code]

[2019-07-08 20:27] yaahallo commented on #159
the actual compiler error

```src/main.rs|12 col 1 error| recursion limit reached while expanding the macro `$crate::fieldset`
||    |
|| 12 | #[trace]
||    | ^^^^^^^^
||    |
||    = help: consider adding a `#![recursion_limit="128"]` attribute to your crate
||    = note: this error originates in a macro outside of the current crate (in Nightly builds, run with -Z external-macro-backtrace for mo

[2019-07-08 20:34] yaahallo commented on #159
doesn't appear to be a proc-macro bug, here it is again without proc-macros

[code]

[code]

[2019-07-08 21:17] yaahc opened #161 "fmt: option to log enter and exit events on spans"
right now its up to the subscriber to decide how it will handle enter and exit events from spans, fmt chooses to just ignore them. It would be nice if we could turn them on somehow.

[2019-07-08 21:27] #159 closed

[2019-07-08 21:30] yaahc opened #162 "proc-macros: fix dependency upon `#[macro_use] extern crate tracing;`"
Right now you cannot use `tracing-proc-macros` without a macro use statement for the main tracing crate. Otherwise you run into some hidden items that it assumes are exported while they are not.

Alternatively, it would be nice to add a prelude to `tracing`

[2019-07-08 21:31] hawkw commented on #161
It's not really correct to say that `tracing-fmt` "just ignore[s]" span enters and exits  --- they set the span context that's attached to any logged events. However, we definitely _could_ also emit log lines on enters/exits. The reason it doesn't log enters and exits as separate log lines of their own is largely because this is _quite_ noisy when using instrumented futures, so I think this should

[2019-07-08 21:32] hawkw commented on #162
A prelude is probably worth having at this point, but that is maybe a separate issue.

[2019-07-08 21:36] hawkw opened #163 "Move proc-macros to `tracing-macros` crate"
### Motivation
Since our minimum Rust version now supports procedural macros, there isn't really any reason to separate the procedural and macro-rules macros any longer. For ease of use & to keep the names terse, we should combine the `tracing-macros` and `tracing-proc-macros` into one `tracing-macros` crate.

The existing experimental macros in the `tracing-macros` crate are not widely used at th

[2019-07-08 22:02] yaahallo opened #165 "tracing: bug in message-less event macro calls"
[code]

where e is a `std::boxed::Box<(dyn std::error::Error + std::marker::Send + std::marker::Sync + 'static)>`

[2019-07-08 22:24] hawkw commented on #165
Looks like this is specifically a bug with _single_ shorthand fields in macros due to the way we handle trailing commas. Fixing it!

[2019-07-08 23:20] #165 closed

[2019-07-09 18:43] hawkw opened #167 "tracing: Consider adding a prelude"
## Feature Request

### Crates

`tracing`

### Motivation

It might be useful for the `tracing` crate to expose a prelude containing commonly used types, traits, functions, macros, etc.

### Proposal

We should add a prelude module to `tracing`. It should probably be fairly conservative, but should re-export at least the following:
- `span!`, `event!`, and their `level!`/`level_span!` equivalents

[2019-07-09 19:37] hawkw commented on #135
currently in progress:
- [ ] `Subscriber::try_close` (#153)
- [ ] `tracing-subscriber::Layer` API for composing layers (#136/#149 , depends on #153)

[2019-07-09 19:44] hawkw commented on #162
I think just changing the proc-macro generated code to use `tracing`'s macro as `tracing::MACRO_NAME` rather than `MACRO_NAME` is sufficient to fix this.

[2019-07-09 21:21] hawkw commented on #162
(btw, I opened #167 for adding a prelude)

[2019-07-10 17:21] singpolyma-shopify opened #169 "Can't get tracing-futures to work in my codebase"
## Bug Report

### Version

[code]

### Platform

`$ uname -a
Linux singpolyma-crappy-internal 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux`

### Description

I cannot get tracing-fmt and tracing-futures to output anything at all.  I even copied the example code for spawny-thing into my app (commenting out my `main` and using the one from the example) and it compiles but t

[2019-07-10 18:25] hawkw commented on #169
@singpolyma-shopify What version of `tokio` are you using? You probably either need to set the feature flag `experimental-tracing` on your `tokio` dependency, or use [`dispatcher::set_global_default`](https://docs.rs/tracing/0.1.2/tracing/dispatcher/fn.set_global_default.html) rather than `with_default`.

Let me know if either of those fix the problem for you?

[2019-07-10 18:33] singpolyma-shopify commented on #169
@hawkw Thanks! Adding the feature fixed it for me.

[2019-07-10 18:46] hawkw commented on #169
Great! I'll make sure to add this to the documentation to hopefully avoid any future confusion!

[2019-07-10 18:46] #169 closed

[2019-07-10 21:39] hawkw opened #172 "core: consider adding `Dispatch::default`"
## Feature Request

### Crates

`tracing-core`

### Motivation

`tracing-core` currently exposes access to the default dispatcher through the `get_default` function. This allows users to provide a closure that's executed with a reference to the default dispatcher. The dispatcher can then be cloned if an owned `Dispatch` is needed:
[code]
This is a bit awkward to use.

### Proposal

We could have a

[2019-07-10 23:36] LucioFranco commented on #172
Yes.

I think this is worth it I've had to do it many times to manually propagate the sub.

Example: https://github.com/timberio/vector/blob/master/src/sources/file.rs#L96

[2019-07-11 17:08] singpolyma-shopify opened #176 "Why is new_span(&self) and not &mut self?"
## Feature Request

### Motivation

It seems like the whole purpose of the `new_span` API is to store data about the new span and associate it with an id.  The data will need to be stored in most cases since the event/enter/etc APIs only pass an id.  However, `new_span` does not take self mutably, so one must resort to hacks in order to store the data anywhere.

### Proposal

`new_span` should tak

[2019-07-11 17:20] hawkw commented on #176
A subscriber may be shared across multiple threads, so it's not possible to have any methods on the `Subscriber` trait that take `&mut self`. Instead, subscribers that store data about spans must use a storage method that allows writes across threads, either via locking the store, by sending writes through a channel to a dedicated reader task, or (ideally) by using a concurrent data structure.

Th

[2019-07-11 17:24] singpolyma-shopify commented on #176
So the subscriber itself isn't protected or on the other side of an mpsc or similar?

I guess the idea is this can allow different consumers to get some performance gains if they don't need as much protection?

[2019-07-11 17:26] hawkw opened #177 "meta: move CI to Azure Pipelines"
### Motivation

The rest of Tokio uses Azure Pipelines rather than Travis for CI. I believe Azure Pipelines builds tend to be much faster than Travis, and the integration with GitHub's status checks is nicer.

### Proposal

It would be nice to replace our Travis build with Azure Pipelines. We'll have to bear in mind that our CI build is currently a bit more complex than just `cargo build --all`; w

[2019-07-11 17:30] hawkw commented on #177
@jonhoo I believe you have a big Azure Pipelines template that you've been using in `tracing-timing`? Is this something you're interested to help with?

[2019-07-11 17:33] hawkw commented on #176
Yeah, that's right! What data a subscriber stores, and _how_ it stores that data, could vary wildly based on the behaviour it implements: some might not store any data at all, and just write it all to some form of I/O immediately, for example, and others might only store data for a subset of spans or events. Therefore, we determined that this should be left up to the subscriber implementation in `

[2019-07-11 17:38] jonhoo commented on #177
Sure, yeah! I think this is all very doable. You should be able to get quite far by building on top of https://github.com/jonhoo/tracing-timing/blob/master/azure-pipelines.yml. The one drawback currently is [this issue](https://developercommunity.visualstudio.com/content/problem/633563/multi-stage-pipelines-show-in-progress-github-chec.html), but apparently they're working on fixing it.

[2019-07-11 17:53] #176 closed

[2019-07-11 20:23] LucioFranco opened #179 "fmt: Disabling ANSI not via feature flag should be static"
Disabling ansi support while the `ansi` flag is supplied should be static meaning that it shouldn't rely on a `bool` to determine if it should print with ansi formatting.

[2019-07-12 13:59] singpolyma-shopify commented on #176
Interestingly, I *cannot* protect my `Subscriber` behind an mpsc because of the requirement for `new_span` to return an `Id` and not a `Future<Item=Id>`

[2019-07-12 14:18] singpolyma-shopify commented on #176
I think probably it would be very useful if the `Store` from https://github.com/tokio-rs/tracing/blob/master/tracing-fmt/src/span.rs moved into `tracing-subscriber` or similar for re-use

[2019-07-12 23:16] hawkw opened #185 "fmt: support `tracing-log` `log.XXX` fields nicely"
`tracing-fmt` should format the `log.module`, `log.target`, `log.file`, and `log.line` fields the way it formats the same metadata on `tracing` events. The output will look nicer this way.

This should be pretty simple, and I'm happy to provide coaching if anyone is interested.

[2019-07-13 13:31] amousset commented on #185
I'm interested in implementing this! I'm trying to figure out how this could be implemented and have a few questions. Why does the `Event` created from a log by `LogTracer` has empty `module_path`, `file` and `line`  and an hardcoded target in their `Metadata` but provides these values from the source log as fields instead? Do you think `tracing-fmt` should have a special case for logs coming from

[2019-07-13 17:13] hawkw commented on #185
This is a workaround for a bit of an impedance mismatch between `log`'s API and `tracing`'s --- `log::Record`s have a generic `'a` lifetime, while `tracing::Metadata` is guaranteed to be `'static`. For context around this, there was some discussion in issue #78.

Yes, we can expect these field names to remain stable by convention.

[2019-07-13 19:53] hawkw commented on #185
@amousset I've been thinking about this a bit, and I have some ideas for how I might recommend you implement this. This approach is a bit more complex than some of the alternatives, but is probably worth it in the long run, as it'll make working with `tracing-log` events easier for all subscriber implementations.

I think `tracing-log` should export an extension trait for events that has a method

[2019-07-14 15:49] amousset commented on #185
Looks better than an special case in `tracing-fmt` indeed. Would you consider acceptable to completely ignore the fields of an `Event` from `tracing-log` in this case (as there can only be `log.module_path`, `log.file`, and `log.line` which would already be in the normalized Medatata anyway)?

[2019-07-14 18:30] hawkw commented on #185
Yes, although perhaps we should add that later, as I want to write some utilities for filtering fields in `record` easier (#73), and that could be done using those tools.

The event's metadata has a [`Metadata::callsite`](https://docs.rs/tracing-core/0.1.2/tracing_core/metadata/struct.Metadata.html#method.callsite) method that returns an opaque `callsite::Identifier` type implementing `Eq`, which

[2019-07-15 13:11] singpolyma-shopify opened #188 "Tracking "current spans" under tokio"
Just thinking through how this works, reading  the tracing-fmt code -- it  seems like "current spans" is tracked per-thread by using thread-local storage.  But can this approach work in a tokio/async/futures application?  If a span is entered as a future starts, then that future blocks on IO and another future is scheduled on the thread and logs an event -- won't the first span still be "entered"

[2019-07-15 18:07] singpolyma-shopify opened #189 "Support Display trait for Level"
## Feature Request

### Motivation

For simple logging cases, I just want to get the string `INFO` etc.  Currently there is a very verbose Debug but no Display.

### Proposal

Add impl of Display trait for Level.

[2019-07-15 18:16] hawkw commented on #189
👍 this would be good to have. Should be pretty simple to implement if anyone is interested in contributing.

[2019-07-15 18:25] hawkw commented on #188
If spans are attached to futures using the [`Instrument`](https://github.com/tokio-rs/tracing/blob/2cfc5130b64242a22b085ca06aa40e74c429a784/tracing-futures/src/lib.rs#L32) combinator in the `tracing-futures` crate, then the span will be entered only for the duration of each poll, and exited when the poll ends (i.e. the future yields). Then, when the future completes, the span will be dropped and (

[2019-07-15 18:26] hawkw commented on #189
(as a side note: it would also be nice to have a `FromStr` implementation for `Level`, based on [the impl in `tracing-fmt`](https://github.com/tokio-rs/tracing/blob/2cfc5130b64242a22b085ca06aa40e74c429a784/tracing-fmt/src/filter/env.rs#L301-L325), but I think that ought to be a separate issue)

[2019-07-15 18:29] singpolyma-shopify commented on #188
Ok, I see.  I thought a span could be entered/exited multiple times so you could share a span definition, but it seems the expectation is to `new_span` when starting an instrumented something and `drop_span` when finishing it and enter/exit is for tracking current state in the middle specifically for the async case?

[2019-07-15 23:00] hawkw commented on #188
More or less, yes! I wouldn't go so far as to say that `enter`/`exit` is _specifically_ for async, though

Even in synchronous code you might have, say some struct that does some part of the work for the system, and you might want to track the period of time that was spent on each of those units of work. In that  case, you might want to have a single span for each instance of that struct, and ente

[2019-07-15 23:02] hawkw commented on #188
In re:

It's worth noting that there's a difference between two spans that share a _callsite_, and two handles to a span with the same `Id`. A span `Id` is intended to represent a single span in time, whereas two spans sharing a callsite share a definition but represent discrete periods of time.

[2019-07-16 00:33] davidbarsky commented on #157
From a discussion on Gitter with @hawkw. The current front-runner for the global span store is: `Arc<RwLock<Vec<RwLock<T>>>`. Annotated, each type handles:
- `Arc`: global atomic access.
- first `RwLock`: has contention on the span store. One optimization avenue is that the span store is  sharded per-thread to reduce contention. If we are sharing per-thread, there might be an optimization opportun

[2019-07-16 00:54] davidbarsky commented on #157
The entire store might not need to be refcounted, as the store would live in a subscriber that is already refcounted by a Dispatcher.

[2019-07-16 17:30] yaahallo opened #190 "New Crate: Subprocess tracing"
## Feature Request

This is a feature I'd like to implement for fun. The idea is basically to write a crate that has two parts.

1. A wrapper for std::process that lets us spawn processes with extra env variables set transparently that correspond to the span the subprocess is a child of.
2. An init function that can be run on startup of the subprocess to read said env variables and correctly confi

[2019-07-17 15:07] #188 closed

[2019-07-17 15:10] singpolyma-shopify opened #192 "Provide Span method `into_enter`"
## Feature Request

### Motivation

It is a common case to create a span, enter it right away, and then never use it again.

### Proposal

Provide a method on span `into_enter` which is the same as the current `enter` but consumes `self` rather than taking a reference to it.  This would allow the following code:

[code]

as opposed to the currently required:

[code]

[2019-07-17 18:31] hawkw commented on #192
Unfortunately, the proposed approach won't really work with the current design, since the `Entered` type holds a borrowed reference to the span. This means that if `self` is moved into an `into_enter` method, we can't return an `Entered` guard pointing to `self`, as `self` will only live until the end of that method, and the guard will outlive it.

However, there are a couple of other proposals th

[2019-07-17 19:53] amousset commented on #185
I started working on this, but have trouble implementing the proposed interface. As we need to create a new `Metadata` to hold the data extracted from the fields, we cannot simply return a reference to it. Similarly, collecting log metadata from fields requires storing them somewhere. I'm trying to push a minimal version soon.

[2019-07-17 21:43] #189 closed

[2019-07-18 14:16] davidbarsky commented on #117
With the merging of #40, I think we can close this issue now!

[2019-07-18 14:16] #117 closed

[2019-07-18 20:00] LucioFranco opened #196 "tracing: log feature breaks existing event macro usages"
![image](https://user-images.githubusercontent.com/5758045/61488048-44ad8100-a975-11e9-9574-c1a20938fb5a.png)

[2019-07-19 13:53] singpolyma-shopify commented on #158
Will this expand to inline statements or to a block?  (If a block, it would still drop the guard right away, yes?)

My only concern here would be "polluting" the local namespace with these two extra variables that the programmer didn't create on purpose.

[2019-07-19 13:57] singpolyma-shopify commented on #192
The `enter_owned` proposal seems to be the closest to what I had in mind in this case, though the macro could also work.

[2019-07-19 14:33] yaahallo commented on #158
Aren't rust macros hygenic? I thought that their variables were inaccessible from outside of the macros scope.

[2019-07-19 14:38] singpolyma-shopify commented on #158
@yaahallo right, that was the first part of my question.  If this is rendered as a scope then the guard would be dropped right away.

[2019-07-19 17:14] yaahallo commented on #158
Ooh, my understanding of declarative macro hygiene is that tracks which identifiers came from inside a macro and disallows using those identifiers outside the macros, it does not logically add `{ }` around the output of the macro to prevent identifiers from escaping.

https://rust-lang.github.io/rustc-guide/macro-expansion.html#hygiene

The best part is the struct in the compiler that tracks the c

[2019-07-19 17:38] yaahallo opened #201 "proc-macros: #[traced_test] macro"
## Feature Request

It's common to want to use tracing in tests because who doesn't want to use tracing everywhere. Right now this adds an extra bit of boiler plate to every test. Also it's not widely known (I think?) that tests in the same file run in multiple threads of the same process, so the global subscriber is shared between all tests. This is probably fine but it would be better for tests

[2019-07-19 18:45] hawkw commented on #158
In order for this to provide the expected behaviour, this would _have_ to expand to inline statements.
I don't remember OTTOMH whether macro hygiene would permit this or not; if it does not, I think  tokio-rs/tokio#1162 might be the only viable solution for #192.

[2019-07-19 19:03] yaahallo commented on #158
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e77fe2ec7e262deff89b78551c7217ce

It works fine in all the ways we need.

[2019-07-19 21:48] hawkw commented on #158
In that case...
![PRs_welcome](https://user-images.githubusercontent.com/2796466/61567404-396d5a80-aa34-11e9-9a3f-106a2fb74189.jpg)

[2019-07-22 02:52] samscott89 opened #204 "Better support for using tracing-log with the `log` feature"
## Feature Request

### Crates

`tracing`, `tracing-log`

### Motivation

People writing libraries using tracing may wish to expose regular `log` support via the `tracing/log` feature. At the same time, to get tracing support for crates using `log`, users may turn to `tracing_log::LogTracer`. Enabling both means logging events twice.

### Proposal

Some way to pass knowledge of the `tracing/log` f

[2019-07-22 19:06] #177 closed

[2019-07-22 19:45] hawkw opened #207 "meta: readme tests on stable"
## Feature Request

### Crates

- `tracing`
- potentially others in the future

### Motivation

PR #177 disabled the readme doctest for `tracing`, since it doesn't build on stable Rust. We should replace this with a way of testing the README examples that doesn't require nightly.

### Proposal

My understanding is that https://github.com/GuillaumeGomez/doc-comment is the currently recommended solu

[2019-07-22 20:50] hawkw opened #210 "meta: CI publishes docs on master builds to GitHub Pages"
## Feature Request

### Motivation

It would be nice to auto-publish the master docs every time a commit is merged to master. This is especially helpful as there are a number of incubating nursery crates which have not been published to crates.io, and thus don't get published to docs.rs, but still see some use.

### Proposal

I believe https://github.com/crate-ci/azure-pipelines/issues/35 is track

[2019-07-22 22:21] hawkw commented on #204
Of the potential solutions, the simplest might just be to have a global boolean flag indicating whether `tracing`'s log support should be enabled, and have the `LogTracer` disable that flag when set as the global logger. This feels like a gross hack, though.

Alternatively, we could re-introduce more complex filtering to `LogTracer`, and have _it_ disable log records that come from `tracing`.

[2019-07-23 20:15] hawkw opened #213 "tracing, core: Support `no_std` + `alloc`"
## Feature Request

### Crates

`tracing-core`
`tracing`

### Motivation

Users have expressed interest in using `tracing` on no_std platforms with `liballoc`.

### Proposal

I believe that the only stdlib features used by `tracing-core` not available with `core` + `alloc` are:
 - The `std::thread_local` macro, used for the current default dispatcher: https://github.com/tokio-rs/tracing/blob/7e1e4

[2019-07-23 20:15] hawkw commented on #213
cc @yaahallo

[2019-07-23 22:52] samscott89 opened #216 "log: `LogTrace` requires the `log/std` feature"
## Bug Report

### Version

tracing-log from git (https://github.com/tokio-rs/tracing#7e6cbf73)

### Platform

### Crates

tracing-log

### Description

Per the title:
[code]

[2019-07-23 22:59] hawkw commented on #216
Huh, I think the `log/std` feature is enabled by default. Are you using `default-features = false` somewhere?

[2019-07-23 23:03] samscott89 commented on #216
Nope... I just did a `cargo update` so I could try out the `ignore_crate` bits :)

[2019-07-23 23:05] samscott89 commented on #216
So perhaps something else removed it from the default features. But it doesn't seem to be in `log`s default features, at least not in 0.4.7

[2019-07-23 23:11] samscott89 commented on #216
I assume with `cargo check --all`, it pulls in some other dependency which has `log/std` enabled.

[2019-07-23 23:18] samscott89 commented on #204
10,000,000 thanks for getting something working in #215! This already makes a huge difference

[2019-07-24 03:30] #216 closed

[2019-07-24 17:17] hawkw opened #218 "tracing-subscriber: JSON formatter"
## Feature Request

### Crates

`tracing-subscruber`

### Motivation

Logging trace events as JSON is a common use-case, and I've heard interest from users in supporting this.

### Proposal

I think we should add a JSON formatter to the `tracing-subscruber` crate. We can use the `tracing-serde` crate to serialize `tracing` types such as `Metadata` to JSON. The JSON support should probably be featu

[2019-07-24 17:21] hawkw opened #219 "fmt: Support disabling the target in formatted output"
## Feature Request

### Crates

`tracing-fmt`

### Motivation

`tracing-fmt` always prints the target of an event after printing its span context. This is not always useful and some users have expressed interest in disabling it.

### Proposal

It would be nice if the default formatters had a builder setting to disable the target.

[2019-07-24 17:34] bIgBV commented on #218
@hawkw I'd like to pick this up. @davidbarsky pointed me to this as a good first issue.

[2019-07-24 20:24] hawkw commented on #218
@bIgBV great! here's a rough overview of what you'll probably want to do:

- Add an implementation of the [`FormatEvent` trait](https://github.com/tokio-rs/tracing/blob/449550bf0785499265ee7a446347583059135af0/tracing-fmt/src/format.rs#L23-L31)
that formats events to JSON
- Add an implementation of the [`NewVisitor` trait](https://github.com/tokio-rs/tracing/blob/449550bf0785499265ee7a446347583059

[2019-07-25 22:57] #219 closed

[2019-07-26 18:25] hawkw opened #222 "core: Consider adding `&dyn std::error::Error` as a Value primitive"
## Feature Request

### Crates

`tracing-core`

### Motivation

Currently, errors are typically recorded using their `fmt::Display` or `fmt::Debug` implementations. This doesn't give the subscriber much control over how the error is recorded --- in particular, it cannot decide whether to format the error using `Display` or `Debug`, and it cannot access the error's `source` or downcast it to anothe

[2019-07-26 18:26] hawkw commented on #158
@yaahallo is this something you're interested in implementing?

[2019-07-26 18:51] carllerche commented on #222
This seems fine at a high level.

[2019-07-26 18:56] LucioFranco commented on #222
I'm maybe missing something but why can't you just use `info!(%error)`?

[2019-07-26 22:27] hawkw commented on #222
@LucioFranco:

You totally can. The difference is just that recording an error that way records _only_ the `fmt::Display` output. If we recorded the error _as_ an instance of `std::error::Error`, subscriber implementations could:
 - choose to use either the `fmt::Display` _or_ `fmt::Debug` implementations
 - downcast the error to a concrete type
 - call `Error::source`

The latter two might be use

[2019-07-26 23:27] #28 closed

[2019-07-26 23:28] hawkw commented on #28
I closed this, as this issue has gotten a bit stale and the roadmap for this crate is pretty well represented elsewhere.

[2019-07-28 23:37] KodrAus commented on #222
This seems worthwhile for subscribers that might want to treat the content of an error separately from its backtrace (which will [find its way onto `std::error::Error`](https://github.com/rust-lang/rust/issues/53487) eventually).

[2019-07-29 15:15] yaahallo commented on #158
[code]

[2019-07-29 21:56] hawkw opened #224 "docs: Long-form tutorials/docs on tokio.rs"
It would be good to have some long-form introductory documentation on `tracing` on the [`tokio` website](https://tokio.rs/). This should, at least, cover how to use the main `tracing` crates to instrument a `tokio` application, and discuss some of the basic design principles of `tracing`.

I'm not entirely sure where, exactly, these docs ought to go --- they aren't directly related to `tokio` itse

[2019-07-30 18:36] hawkw opened #225 "fmt: support customizing output stream"
## Feature Request

### Crates

`tracing-fmt`

### Motivation

When logging trace data, users may wish to write to a number of output streams, such as to stdout, to stderr, or to a file, depending on their use-case. Currently, however, the IO stream that `tracing-fmt` writes to is hard-coded to `stdout`:
https://github.com/tokio-rs/tracing/blob/e56b33c757a83736984990007e3ed803119add51/tracing-fmt/

[2019-07-30 22:37] hawkw opened #226 "futures: support futures 0.3 Streams/Sinks"
## Feature Request

### Crates

`tracing-futures`

### Motivation

`tracing-futures` currently supports instrumenting `futures` 0.1 `Future`s, `Stream`s, and `Sink`s, and `std::future::Future` from `futures` 0.3. However, the `futures` 0.3 `Stream` and `Sink` traits in the `futures-preview` crate are not supported.

### Proposal

We should probably add support for these traits, with a new feature

[2019-07-30 22:45] hawkw commented on #158
As a thought, we _might_ want to consider having the `enter!` macro just take a set of arguments that are passed to the `span!` macro, since the main use-case AFAICT is for constructing a new span that should be immediately entered, and it's a _little_ awkward to have to say `enter!(span!(...))`.

[2019-07-31 15:35] hawkw opened #229 "futures: pre-release naming review"
Before releasing `tracing-futures` on crates.io, we should give the naming of API functions and types a review to make sure they are as clear and descriptive as possible.

In particular, here are some things I'd like input on:
 - The `Instrument` combinator method:
https://github.com/tokio-rs/tracing/blob/c1a9b6cfbbc5650e18102f57beb8df140a09c5e5/tracing-futures/src/lib.rs#L42
  While I think the n

[2019-07-31 15:35] hawkw commented on #229
Would be great to get input on this from @davidbarsky, @LucioFranco, @tobz, and @jonhoo (if it's still open when you get back from vacation).

[2019-07-31 15:37] hawkw opened #230 "futures: API docs"
Before we publish `tracing-futures`, we need to add missing API docs on public traits and types.

[2019-07-31 15:37] LucioFranco commented on #229
I am ok on renaming instrument to span. For the second one why not call WithSub -> WithDispatcher?

[2019-07-31 17:12] hawkw opened #231 "futures: combinators for instrumenting in current context"
## Feature Request

### Crates

`tracing-futures`

### Motivation

The `tracing-futures` crate provides a pair of traits, `Instrument`, and `WithSubscriber`, which allow attaching a span or dispatcher to a future, respectively. Currently, both traits expose a single method (`Instrument::instrument` and `WithSubscriber::with_subscriber`, respectively) which accepts the span or dispatcher to attach

[2019-07-31 17:16] hawkw commented on #229
@LucioFranco

I thought `with_subscriber` was better because the method takes a type `S: Into<Dispatch>`, which can be a `Dispatch` _or_ a type implementing `Subscriber`.

[2019-07-31 18:01] yaahallo commented on #158
I would prefer this ^ over the version I pasted. I just don't know about calling it `enter` in that case, because ultimately its a span. No idea what I'd call it instead tho.

[2019-08-01 22:09] LucioFranco commented on #229
I think that is still fine to call it `with_dispatch` even if it still is `Into<Dispatch>`

[2019-08-01 22:30] davidbarsky commented on #229
I really haven’t used these APIs in any serious capacity, so I can’t really comment on `WithSubscriber`/`WithDispatcher`, but they seem to be a very minor aspect of this API. We can always rename if its problematic.

[2019-08-01 22:52] hawkw commented on #230
Closed by #235

[2019-08-01 22:52] #230 closed

[2019-08-01 22:56] hawkw commented on #133
Looks like the compiler bug has been fixed in rust-lang/rust#62393, so hopefully we can move forwards with this once the fix is on stable.

[2019-08-02 06:36] MSleepyPanda commented on #229
@hawkw

Maybe
 - to meter, metered
 - overload `record` once more, or `record_in`
 - spanned
 - or simply `within`? I like the semantic, `future.within(span)`, as it also expresses the span enter/exit

[2019-08-02 16:57] hawkw commented on #229
@MSleepyPanda thanks for the suggestions!

Hmm, this implies timing strongly while not suggesting other aspects of being in a span, to me?

I'd prefer not to introduce yet another thing called `record`, and I'm not sure if that really describes the semantics of this operation either?

Building off of both of these: what about `in_span`? I think it definitely conveys what the result of the operatio

[2019-08-02 19:37] hawkw opened #238 "tower: path forward for `tracing-tower`"
## RFC

### Crates

- `tracing-tower`
- `tracing-tower-http`

### Motivation
There is demand for a `0.0.1-alpha.2` release of `tracing-subscriber`. However, this crate now depends on `tracing-tower` (for the load generator example). `tracing-tower` is currently unpublished. Before we publish `tracing-tower`, there are a couple of questions that need to be worked out.

### Questions

1. Should this

[2019-08-02 19:40] LucioFranco commented on #238
I am +1 on punting on this and moving it to `tower-rs/tower/tower-tracing`

[2019-08-02 19:42] davidbarsky commented on #238
Will be brief, gotta run to a meeting, but:

I think this should probably be moved into Tower's GitHub repo, but I'm iffy on that. I don't have a strong enough opinion.

Merge, for sure.

[2019-08-03 11:45] MSleepyPanda commented on #229
`in_span` sounds good to me! Also, it doesn't sound nearly as expensive/magical as `trace` does.

[2019-08-05 18:40] hawkw opened #240 "subscriber: generalized NewVisitor abstraction"
## Feature Request

### Crates

- `tracing-subscriber`
- `tracing-fmt`

### Motivation

The `tracing-fmt` crate crate currently uses a `NewVisitor` trait to abstract over constructing field visitors of different types or with different configurations:
https://github.com/tokio-rs/tracing/blob/d51d4d69d81ce2e4c6c7166fe70c58a1f881d668/tracing-fmt/src/lib.rs#L192-L196

There have been other use-cases

[2019-08-05 18:41] hawkw commented on #240
cc @bIgBV and @kleimkuhler, this might concern issues you're working on.

[2019-08-05 20:23] bIgBV commented on #240
I'm in favor of the name `MakeVisitor` as it specifies the intent pretty well. I also like the idea of having the `NewVisitorParams` type, as it would be a more forwards compatible change. Having to go in and refactor types later on is additional work which could be avoided by adopting the struct pattern early on.

[2019-08-05 22:23] hawkw commented on #240
here's a rough draft: https://github.com/tokio-rs/tracing/pull/241/files

[2019-08-06 00:49] bIgBV commented on #240
I left a few comments (which are questions more than anything), but I really like the change. Makes things a lot clearer.

[2019-08-06 17:22] hawkw commented on #185
Fixed by #193.

[2019-08-06 17:22] #185 closed

[2019-08-07 20:27] hawkw opened #245 "tracing: re-export trace attribute macro"
## Feature Request

### Crates

- `tracing-proc-macros`
- `tracing`

### Motivation

The `tracing-proc-macros` crate provides an attribute macro, currently called `trace`, that automatically instruments a function with its own span, providing a very easy way to add tracing to most code. However, using it requires importing the `tracing-proc-macros` crate, which makes it somewhat less ergonomic to

[2019-08-07 21:04] hawkw opened #246 "proc-macros: rename `trace` attribute"
In order to re-export the `trace` attribute from `tracing-proc-macros` in `tracing` proper, we need to rename the attribute, as the current name conflicts with the `trace!` function-like macro.

**Update**: As per discussion below, I think we've all agreed to rename the attribute to `instrument`.

Here are some potential options, with my thoughts:
- `#[tracing::instrument]`
  * **Pros**:
    + des

[2019-08-07 21:35] olix0r commented on #246
+1 `tracing::instrument`

is `tracing::span` worth considering as well?

[2019-08-07 21:36] carllerche commented on #246
`instrument` is my preferred option as well.

[2019-08-07 21:44] hawkw commented on #246
`span!` is already the name of a function-like macro in `tracing`, so that would have the same problem as `trace` – attribute and function-like macros occupy the same namespace.

[2019-08-07 23:44] hawkw opened #247 "fmt: ignore `log.*` fields when formatting events"
## Feature Request

### Crates
- `tracing-fmt`

### Motivation

Follow-up from #185.

PR #185 added nice formatting for `log` metadata stored in fields by `tracing-log`. However, those fields are still formatted by `tracing-fmt`. We should skip all fields beginning with `log.` when formatting an event, if the `tracing-log` compatibility feature is enabled.

### Proposal

Ideally, we would implemen

[2019-08-07 23:45] hawkw commented on #247
cc @amousset, @kleimkuhler

[2019-08-07 23:45] davidbarsky commented on #246
+1 to `#[tracing::instrument]`. `span` would be nice, but since that's already a function-like macro in `tracing`, it can't be used. Depending on the trajectory of proc-macros, I can see the value of swapping `instrument` and `span`—I _suspect_ that most spans would be created using the attribute macro instead of the function-like macro.

[2019-08-07 23:53] LucioFranco commented on #246
+1 Instrument

[2019-08-07 23:53] hawkw commented on #246
I'm also inclined to go with `instrument`, esp. since it seems like folks are converging on it.

@davidbarsky

I don't think we should do this, even in a world where most people use the attribute macro exclusively: `span!` _returns_ a span, while `instrument` instruments a function. Switching them makes both less clear, IMO. At the very least, it doesn't make sense for the `span!` macro to be rena

[2019-08-08 01:23] yaahc commented on #246
+1 instrument. Pull the trigga

[2019-08-08 01:56] hawkw commented on #246
wow, I really thought this was going to be a prolonged bikeshed...

[2019-08-08 02:01] Ralith commented on #246
You could call it `tracing::wrap`! :D

[2019-08-08 02:56] #6 closed

[2019-08-08 02:56] #162 closed

[2019-08-08 03:27] hawkw commented on #246
@Ralith we're gonna call it `#[tracing::layer]` now, sorry. because it "layers" a span around the function :P

[2019-08-08 04:11] davidbarsky commented on #246
you’re gonna give me heart palpitationss, @hawkw 😅

[2019-08-08 17:07] hawkw opened #250 "proc-macros: support setting a verbosity level in instrument"
## Feature Request

### Crates

- `tracing-proc-macro`

### Motivation

The `tracing_proc_macros::trace` macro is currently hard-coded to set the `TRACE` verbosity level.

### Proposal
When we rename it to `instrument` (#246), we should also allow customizing the verbosity level (and consider changing the default when none is provided).

### Alternatives

[2019-08-08 20:34] #247 closed

[2019-08-08 22:28] hawkw opened #252 "futures: support tokio-0.2.0 alpha"
## Feature Request

### Crates
- `tracing-futures`

### Motivation

An alpha release (alpha.1) of `tokio` v0.2 has been released: https://crates.io/crates/tokio/0.2.0-alpha.1

The `tracing-futures` crate should support this version of `tokio`.

### Proposal

Can we conditionally depend on either or both `tokio` versions based on which `futures` feature flags are enabled? If so, we should have impl

[2019-08-08 22:41] #246 closed

[2019-08-08 22:41] #250 closed

[2019-08-08 23:30] #245 closed

[2019-08-10 00:11] #213 closed

[2019-08-13 17:19] hawkw opened #269 "async/await versions of examples"
## Feature Request

### Crates

+ `tracing-futures`
+ `tracing-tower`
+ `tracing-env-logger`

### Motivation

Currently, we have a `nightly-examples` directory with examples of code using async/await with `tracing`, and several examples in other crates' examples directories that use legacy futures 0.1. We cannot rewrite the "main" versions of examples to use async/await currently, until our minimu

[2019-08-13 17:27] hawkw opened #270 "attributes: use 1.0 versions of syn/quote"
## Feature Request

### Crates

- `tracing-attributes`

### Proposal

 [`syn` 1.0] and [`quote` 1.0] have just been released. We should update the `tracing-attributes` crate to depend on these rather than older versions of those crates.

I believe these versions are breaking changes, so some APIs may have changed somewhat. I don't think any core functionality has been _removed_, though, so it shou

[2019-08-13 18:58] yaahc opened #272 "tracing(test): rename mock classes used in tests to reflect their actual purpose"
## Feature Request

Currently much of tracing's test code uses `subscriber::mock()` to assert what is essentially a test plan. However this module and the methods used in setting up the test plan are called "mock", which is a term generally reserved for dummy impls of pieces of your system. A mock subscriber should act like a subscriber, not track what one is doing.

### Crates

All crates that us

[2019-08-13 19:47] yaahc opened #274 "tracing-fmt: configurable field ordering"
## Feature Request

### Crates

* `tracing-fmt`

### Motivation

I would like to be able to experiment with different field orderings to test their comparative readability. I'm particularly interested in being able to force message to be either the first or last field rendered from a `tracing::Event`.

### Proposal

I propose the following:

* Add a feature to `tracing-fmt` to specify specific ord

[2019-08-13 20:45] hawkw opened #275 "serde: support for deserializing named tracing types"
## Feature Request

### Crates
`tracing-serde`

### Motivation

Currently, `tracing-serde` supports serializing `tracing` types, such as `Metadata`, `Event`, `span::Attributes` and `span::Record`, etc. However, it does not support _deserializing_ those types from a serialized representation. It would be good to support this.

### Proposal

We should add structs to `tracing-serde` that represent th

[2019-08-13 23:26] hawkw commented on #272
This seems good to me. I think `subscriber::mock()` could be changed to `subscriber::test()`, and the other functions (e.g. `span::mock()`, `event::mock()`, etc) to `span::expect()`, `event::expect()`, etc. However, I'm open to other naming suggestions.

We _might_ even want to put these functions in a new `expect` module, so that the usage is `expect::span()` rather than `span::expect()`, like a

[2019-08-14 01:34] yaahc commented on #272
I like the cute little DSL suggestion and the names suggested here. I'm only worried about the comment "we **almost** always expect a name for a span". I assume the default would be `expect::span(name)` but if there are cases when we would not want a name that needs to be part of the API somehow.

I'm thinking we could use this signature `fn span<'a>(name: impl Into<Option<&'a str>>)` so we can ca

[2019-08-14 17:38] hawkw commented on #272
I think there are a few cases where we don't currently expect a specific name, but we can also just update those tests to expect the name --- we are always expecting a particular span that's created in the test, so if we expect any other attributes, we can also expect the name as well.

The only reason not to is that we might want tests to focus _specifically_ on the qualities they're testing. I d

[2019-08-14 17:41] hawkw commented on #272
As an alternative proposal: WDYT of getting rid of the test subscriber builder's `span`, `enter`, `exit`, etc functions, and replacing them with
[code]
or similar?

That way, we would write tests like
[code]

This might be an excessive amount of work for the potential benefit, though.

[2019-08-14 20:49] hawkw commented on #172
Okay, I think this should be fairly easy to add if anyone is interested, and it sounds like there's desire for this.

We would essentially just add a `Default` implementation for `Dispatch` that calls `dispatcher::get_default` and clones the default.

[2019-08-14 21:00] hawkw commented on #274
As a minor side note: let's not expose an enum in a public API if at all possible, since exhaustive matching makes public enum types a forward-compatibility hazard. Instead, can we make the public API surface a struct that internally wraps an enum, similarly to `Interest`? https://github.com/tokio-rs/tracing/blob/02d45ec9513ea99e717c91c8acfe39ca699777cc/tracing-core/src/subscriber.rs#L457-L498)

T

[2019-08-14 22:20] hawkw commented on #15
I'm unsure if this is still relevant, since in order to support async functions, I think we _do_ need to actually interact with function bodies?

[2019-08-14 22:28] yaahc commented on #15
I say CLOSE IT

[2019-08-14 22:39] #90 closed

[2019-08-14 22:42] #15 closed

[2019-08-14 23:11] yaahc commented on #272
That looks super pretty, so I'm all for it. I'll leave it up to you to gauge if the amount of work for this version vs the other version is worth it.

[2019-08-14 23:40] hawkw commented on #272
@yaahc if you're interested in making the change, it's entirely up to you to decide how far you're willing to go :)

[2019-08-15 15:44] #222 closed

[2019-08-15 16:37] hwchen commented on #252
Is this the issue that's blocking the use of `#[instrument]` on async fns?

[2019-08-15 17:31] hawkw commented on #252
@hwchen nope, `#[instrument]` has supported `async fn`s since the initial release of `tracing-attributes`<sup>1</sup> &mdash; we even have [an example] demonstrating it!

This issue is just for adding support for using the [`tracing_futures::Instrument`] and [`tracing_futures::WithSubscriber`] combinators on `tokio` 0.2's executor types, the way you currently can with `tokio` 0.1 executors.

Is th

[2019-08-15 17:40] hwchen commented on #252
ok, so my issue may be unrelated.

Basically, I was (I think) asked to use `tracing-futures` as a dependency, and then I got this error:
[code]
My code (not compiling) is here: https://github.com/hwchen/hyper-async-test/tree/tracing

Thanks for any help, I may have missed something obvious.

[2019-08-15 20:55] hawkw commented on #29
I'm tagging @tobz because I think he's expressed interest in this as well.

[2019-08-17 14:05] anp commented on #11
(assuming `trace` -> `instrument`, please correct me if I'm wrong)

Using the macro a little bit I've found that I want nearly all of the arguments in functions where it's used. Based on this, I'd have a preference for an opt-out argument to the macro. I'd also have a preference for the shortest argument name possible, something like `skip` or `not`.

[2019-08-17 14:30] anp opened #289 "alternate debug macro syntax e.g. `info!({ ?#field }, "...")`"
## Feature Request

### Crates

tracing-fmt

### Motivation

A concise improvement to legibility of `Debug` fields.

### Proposal

Add another syntax option to the tracing macros.

### Alternatives

The main alternative I see would be to use a specially configured fmt::Formatter to somehow allow subscribers to decide how to present the contents, but I don't think that's feasible based on my unders

[2019-08-17 16:20] hawkw commented on #289
:+1: Definitely in favor of adding this. I've punted on it thus far just because nobody had asked for it yet.

I think adding a `field::debug_alt` (name TBD) and shorthand in the macros should be fairly straightforward.  I think that ideally, the decision of whether to use the single-line or alternate debug formatting ought to be left up to the subscriber, but I'll have to look into whether that's

[2019-08-17 16:40] hawkw commented on #289
After some experimentation, I don't think this is necessary --- when presented with a `&dyn fmt::Debug` in `Visit::record_debug`, the visitor absolutely can choose to use the default formatting.

https://github.com/tokio-rs/tracing/pull/241/commits/780898d3c5d2cb2b4a5968ce429d367edcf2a4e5 adds a `MakeVisitor` wrapper in `tracing-subscriber` that wraps a visitor so that it formats all `Debug` field

[2019-08-18 15:36] carllerche commented on #11
Makes sense to me!

[2019-08-19 18:15] hawkw commented on #289
@anp given ☝️, do you think there's still a need for specifying the alternative format in the instrumentation point (read: the macros) as well as in the subscriber?

[2019-08-19 18:16] carllerche commented on #289
What does the syntax mean?

[2019-08-19 18:17] carllerche commented on #289
i assume `field` here is some local ident?

[2019-08-19 18:18] carllerche commented on #289
My gut is formatting syntax would be less weird if it were in a string:

[code]

[2019-08-19 20:31] LucioFranco opened #291 "Rate limit layer"
A use case we have for https://github.com/timberio/vector is to rate limit certain noisy logs. The way we would like to define them is per callsite and to set a static window where only one event will be enabled per that window.

We currently already have an implementation https://github.com/timberio/vector/tree/master/lib/tracing-limit.

The issue with this is how do we define that that callsite

[2019-08-19 20:38] anp commented on #289
No, I think that's perfect, and avoids complicating the syntax. Given the visitor-based formatting that landed I'll give this a close.

[2019-08-19 20:38] #289 closed

[2019-08-19 20:58] hawkw commented on #291
@LucioFranco in your use-case, what are the motivations for rate-limiting? Is it intended to improve performance by eliding certain events, or just to reduce the noise of the logs for a human reader?

[2019-08-19 21:01] LucioFranco commented on #291
@hawkw both, we have found in previous elixir based applications that printing out for each log can actually bring us down and noisy logs in the UX sense.

[2019-08-19 21:16] hawkw commented on #291
@LucioFranco have you done any benchmarking of your current rate-limiting implementation in vector vs not limiting events?

The reason I bring this up is that if rate-limiting is intended for performance reasons as well as UX, that places an additional set of constraints on the design. It seems pretty easy to accidentally design a rate-limiting layer that introduces _more_ overhead than just loggi

[2019-08-19 21:19] LucioFranco commented on #291
@hawkw I do have some basic benchmarks, generally, they show that a _very_ naive implementation doesn't add enough overhead that it will affect application performance. How I see it, rate-limiting for performance reasons should only be used if you expect a large burst of logs where the overhead gets amortized. This should be a conscious decision by the instrumentor.

[2019-08-19 21:20] hawkw commented on #291
Some other thoughts: we've currently reserved the ability to add more complexity to `tracing_core::Interest` (note that `Interest::always()`, `Interest::sometimes()`, and `Interest::never()` are _functions_ rather than associated constants like `Level`'s "variants"), so we could also consider implementing sampling and rate-limiting by adding some support to `tracing-core` (potentially using a `sub

[2019-08-19 21:21] hawkw commented on #291
Sure, I'm just thinking that the design decisions (i.e. what kinds of rate-limiting do we want to support? what APIs would we provide?) ought to be guided by performance goals. Do you happen to have numbers for those benchmarks? It would be interested to know what the targeted performance improvements would look like...

[2019-08-19 21:26] LucioFranco commented on #291
@hawkw yeah, I am gonna update my benchmarks with the new `Layer` based implementation. So I will get back to you on that.

[2019-08-19 23:52] #270 closed

[2019-08-20 20:26] hawkw opened #298 "attributes: support overriding the name of the generated span"
## Feature Request

### Crates

- `tracing-attributes`

### Motivation

Currently, the `#[instrument]` attribute allows overriding the level and target of the generated span, like so:
[code]
However, the name cannot be overridden &mdash; in the above example, the generated span's name will always be `my_cool_function`. Typically, using the function's name as the span name is fine. However, in some

[2019-08-20 21:21] davidbarsky commented on #298
I’m glad this change is happening! I think tests should include https://github.com/dtolnay/async-trait as well, if this issue is interesting in catching uses with trait functions + dynamic dispatch.

(Also, the function name in the span was incompetence, not a statement of how things should be done. I should not be seen as competent, under any circumstances.)

[2019-08-20 21:28] hawkw commented on #298
I think that sounds like a separate ticket, IMHO? We should also try to make `#[instrument]` work with other attributes like `#[tokio::main]` and `#[tokio::test]` --- currently, it may not play well with others.

[2019-08-24 18:50] jarrodldavis opened #300 "fmt: `with_ansi(false)` doesn't affect time output"
## Bug Report

### Version

Latest `master` (commit `561c0c8353ebf6e04292b2531630e7fec30748a7`)

### Platform

[code]

Target triple: `x86_64-apple-darwin`

### Crates

`tracing-fmt`

### Description

When using `FmtSubscriber::builder().with_ansi(false)`, the time output still contains ANSI color codes.

From my [unit test] in #299:

[code]

Currently, the assertion in that unit test needs to be

[2019-08-25 17:50] hawkw commented on #300
Thanks for catching this, that definitely ought to be fixed!

[2019-08-26 18:42] MSleepyPanda commented on #224
This is also relevant for the console. Having getting started docs and tutorials on the website would be nice!

[2019-08-27 18:55] hawkw opened #302 "subscriber: Per-layer filtering"
## Feature Request

### Crates

- `tracing-subscriber`

### Motivation

A primary use-case for `tracing-subscriber`'s `Layer` trait is to support teeing trace events between multiple consumers that implement different behaviors. When `Layer` is used in this way, it should be possible to add filtering to `Layer`s to allow the individual `Layer` to decide what spans and events it is interested in re

[2019-08-29 21:01] jonhoo opened #303 "Regression for macro stack use in 0.1.6"
#288 seems to have caused the `log` feature to break unexpectedly.
`Cargo.toml`:
[code]
`src/main.rs`
[code]
[code]
This code works fine when compiled against `0.1.5`, and git bisection shows that #288 is to blame.

[2019-08-29 22:45] hawkw commented on #303
These macro compilation tests _should_ have caught this regression:
https://github.com/tokio-rs/tracing/blob/83aa04cc9e22fa61903478e0c983097788142e1d/tracing/tests/macros.rs#L270-L271

And indeed, it looks like a local `cargo test -p tracing --all-features` does catch this:
[code]

It looks like these tests are not running on CI with the `log` feature enabled, which implies to me that our CI is mi

[2019-08-30 13:08] jonhoo commented on #303
I believe CI doesn't run this because we couldn't run with `--all-features` for some other reason?

[2019-08-30 17:32] samscott89 opened #306 "`DisplayValue` calls `record_debug`"
## Bug Report

### Version
[code]

### Platform

Linux

### Crates

`tracing`

### Description

In the implementation of `Value` for `DisplayValue`, it calls `visitor.record_debug`. This is slightly surprising behaviour (but also pretty understandable when looking into how its implemented).

We hit this trying to `visit_str` on something where we did `%var`, and expected to catch the field.

I don

[2019-08-30 18:02] jonhoo commented on #303
@hawkw specifically, see https://github.com/tokio-rs/tracing/pull/191#issuecomment-513872071

[2019-08-30 18:06] jonhoo commented on #303
We turn off checking all features here:
https://github.com/tokio-rs/tracing/blob/83aa04cc9e22fa61903478e0c983097788142e1d/azure-pipelines.yml#L10
Based on https://github.com/tokio-rs/tracing/pull/191#issuecomment-513872071, I think the issue was that we can't run with `--all-features` except on nightly. The easiest fix for this is probably to add a specific check with all features on nightly as yo

[2019-08-30 19:59] hawkw commented on #303
@jonhoo

Right, it is specifically `tracing-futures` that cannot be tested on stable with `--all-features`.

That's not actually what I've done in the PR --- I actually added a `cargo test --all-features -p tracing` job, which runs on stable.

We _can_ also add a `check --all-features` job that checks all crates with `--all-features` on nightly; I thought it was better to check specifically the `t

[2019-08-30 20:25] hawkw commented on #306
I can see how this has the potential to be surprising, but I am not sure if there is really any changes that we can make beyond documentation.

`record_str` takes an `&str` as an argument. Using the `%` sigil is requesting that a type be recorded as (essentially) a `&dyn fmt::Display`, which is not a `&str`, and turning it into one would require the instrumentation point to perform an allocation t

[2019-08-30 20:47] hawkw opened #308 "meta: consider combining crates"
## Feature Request

### Motivation

`tracing` currently consists of a large number of crates. The number of crates has the potential to be quite intimidating to users.

### Proposal

We should consider collapsing several of the `tracing` crates into larger crates with feature flags.

#### Some crates which can probably be folded together:
- [x] `tracing-fmt` could be a feature-flagged module in `t

[2019-08-30 20:47] hawkw commented on #308
cc @tokio-rs/tracing, @carllerche, et al.

[2019-08-30 20:48] LucioFranco commented on #308
I think it makes sense to bundle things like tower-http and tower, and log and env-logger. But I do think each kinda separate thing like tower etc should be in their own crate and keep tracing itself light.

[2019-08-30 20:59] #303 closed

[2019-09-04 17:05] hawkw commented on #210
The github action doesn't work.

[2019-09-04 19:51] #210 closed

[2019-09-04 20:20] #308 closed

[2019-09-07 17:58] hawkw opened #331 "subscriber: more intuitive FmtSubscriber default filtering"
## Feature Request

### Crates

 -  tracing-subscriber

### Motivation

Currently, the tracing-subscriber FmtSubscriber::default implementation defaults to no filtering. This means that all instrumentation, including extremely verbose trace-level diagnostics from crates like tokio are enabled by default.

This is because the subscriber itself does not implement filtering, in order to allow it to b

[2019-09-07 18:06] hawkw opened #332 "subscriber: consider enabling more levels by default"
## Feature Request

### Crates

- `tracing-subscriber`

### Motivation

Currently, when no `RUST_LOG` environment variable is set, the `tracing-subscriber::Filter` defaults to enabling only the `error` level. This was chosen as it's the [the same behavior as `env_logger`](https://docs.rs/env_logger/0.6.2/env_logger/#enabling-logging). However, disabling almost all diagnostics by default is probabl

[2019-09-07 18:06] hawkw commented on #332
cc @Ralith any thoughts?

[2019-09-07 18:06] hawkw commented on #331
cc @Ralith this is based on some of your comments on Gitter yesterday

[2019-09-07 19:12] davidbarsky commented on #332
As a default behavior, I like the first option best:

From my personal experience, and some experience helping people debug Rust & Tokio applications, opting for _more_ logged spans/events out-of-the-box and providing mechanisms to filter them down to what they actually need is probably a better getting started experience.

Additionally, I think the options you've proposed could be made associated

[2019-09-07 19:17] Ralith commented on #331
What about defaulting to hiding `trace`-level diagnostics, but allowing another filter (be that `Filter` with env_logger semantics, or `Identity`, or something custom) to be specified in the builder? I think this would be the most intuitive behavior, and wouldn't require breaking env_logger's interface in `Filter`.

[2019-09-07 19:18] Ralith commented on #332
Could we have both a reasonable default *and* strict env_logger compliance, by defaulting to something other than the env_logger compliant filter?

[2019-09-08 03:53] hawkw commented on #331
@Ralith ah, yeah, I suppose we could just provide different defaults in `FmtSubscriber::default` and `Filter::from_default_env`. That seems a little surprising to me (different `Default` constructors having different defaults), but it would definitely get the most reasonable out-of-the-box behavior in both cases.

[2019-09-08 04:48] Ralith commented on #331
My thinking is that `Filter` retains its exactly `env_logger`-like behavior, whereas some other default when no filter is explicitly specified (i.e. the typical case for someone trying out the library for the first time) displays everything `info` and higher. There shouldn't be any surprising differences, because you get the "`info` and higher" behavior in all cases unless you explicitly supply a

[2019-09-09 02:04] #298 closed

[2019-09-10 16:37] yaahc commented on #332
:+1: for defaulting to info, that's a sane default imo.

[2019-09-10 18:19] hdevalence opened #337 "tracing-futures: compilation fails when using tokio-alpha feature"
## Bug Report

### Description

I checked out the `master` branch of `tracing` (@ `198e62a`), `cd`'d to the `tracing-futures` directory, and ran
[code]
This failed with the following error:
[code]

[2019-09-10 18:27] hawkw commented on #337
Looks like we need to update to a newer `tokio` alpha?

[2019-09-10 18:32] hawkw commented on #337
@hdevalence if you're interested in opening a PR, I don't *think* `tracing-futures` uses any APIs that have changed since 0.2.0-alpha.1 and the latest alpha, so this is probably just a matter of changing the version in Cargo.toml.

Otherwise, I can take care of it in just a bit.

[2019-09-10 18:33] hdevalence commented on #337
Cool! Sure, I can try.

[2019-09-10 18:37] hdevalence commented on #337
Hmm, I tried bumping the `tokio` version to `0.2.0-alpha.4` and got I think the same error:
[code]

[2019-09-10 18:48] hawkw commented on #337
Ah, never mind, must be something else. I'll take a look shortly.

[2019-09-10 23:04] #331 closed

[2019-09-10 23:04] #332 closed

[2019-09-11 22:07] samscott89 commented on #306
Sorry for the slow response.

You know, I can't say for certain, but there's a chance that the initial misconception came from this line:

https://docs.rs/tracing/0.1.8/tracing/field/struct.DisplayValue.html

I think the "as a string" bit made me assume it would use the stringyness to record it.

[2019-09-11 22:11] samscott89 commented on #306
Made an attempt at fixing.

[2019-09-12 03:38] KodrAus opened #341 "log: Support structured values"
## Feature Request

### Crates

`tracing-log`

### Motivation

Large applications may use libraries or components that use a combination of the `log` crate and `tracing`. We can support better diagnostics in these applications by making the most of the shared feature-set between `log` and `tracing`. That means retaining as much structure as possible when pushing diagnostic data between them.

In h

[2019-09-12 03:40] KodrAus commented on #341
OT: @hawkw I've just created this issue and self-assigned it to signal that I'm working on sketching out some more details, but if you have a particular way you like to organize things here let me know and I'll follow that :)

[2019-09-13 20:50] #204 closed

[2019-09-18 13:20] astraw commented on #161
@hawkw you added the "good first issue" label - can you give a quick description of how one would start? I might have a go.

[2019-09-18 23:47] hawkw commented on #161
@astraw for sure! Here's where I would recommend starting:
 - The `Subscriber::enter` and `Subscriber::exit` methods are where we would want to add code to log when spans are entered/exited: https://github.com/tokio-rs/tracing/blob/26f8c53d2047f35da5259c380faedd94b3fc481f/tracing-subscriber/src/fmt/mod.rs#L245-L252
- We use this `FormatEvent` trait to allow users to customize how events are format

[2019-09-19 01:20] SnoozeTime commented on #300
I'd like to tackle this issue :).

One way is to add the `ansi` bool to the time::write function's signature:
https://github.com/tokio-rs/tracing/blob/2520f97964f00ff6c0129e6c1ca0af15776ae5da/tracing-subscriber/src/fmt/time.rs#L99-L104

Then, in format.rs, the `Format` struct can just pass its `self.ansi`:
https://github.com/tokio-rs/tracing/blob/2b7d082d9326496c95847e531c1e9250e5dce861/tracing-su

[2019-09-19 08:21] astraw commented on #161
Thanks. I'm pretty busy so no guarantees, but this would be useful for us.

[2019-09-19 13:29] singpolyma-shopify commented on #161
Is enter/exit logging really useful?  Probably want create/drop logging to see first-enter to last-exit in most cases?

[2019-09-19 14:41] hdevalence commented on #11
I'd be happy to work on a PR for this, using `skip` as suggested above.  I'm not sure what the best way to specify multiple arguments-to-skip is.

Would multiple `skip` parameters work, as in
[code]

[2019-09-19 17:52] hawkw commented on #300
Great, thanks!

Since the `write` function is crate-private, that seems like a fine approach, as long as we don't make changes to the public `FormatTime` interface. 👍

[2019-09-19 17:56] hawkw commented on #306
@samscott89 do you think the docs change in #340 is sufficient to close this ticket, or is there anything else we ought to do?

[2019-09-19 17:58] hawkw commented on #252
I believe #279 closes this.

[2019-09-19 17:58] #252 closed

[2019-09-19 18:13] samscott89 commented on #306
It was a super minor issue anyway, so I'm happy with the changes :)

[2019-09-19 18:13] #306 closed

[2019-09-20 05:50] yaahc commented on #161
Yea, I'm using this in sync contexts and don't get the terminology right consistently but I think it's reasonable to say what I actually want is create drop logs for a span.

[2019-09-20 14:21] klotzambein opened #355 "Provide access to `tracing-subscriber::fmt::spans` or similar API."
## Feature Request

### Crates
tracing-subscriber (version 0.1.3)

### Motivation
I would like to add a different logging backend which requires JSON output. Currently, there is no way to do this without reimplementing all of the span tracking done by `fmt::Formatter`. Most of this logic is in `fmt::spans`, however, this module is private.

### Proposal
Make `fmt::spans` public or provide some oth

[2019-09-23 06:27] astraw commented on #161
Update after a few days: I haven't had a chance to start yet and the way things are looking, it is also unlikely I'll make in progress in the next few days. If someone else wants to jump in, please feel free.

[2019-09-23 08:04] pickfire commented on #158
Is there a reason why `enter` is required? Why not `span` just handle that? Maybe is it related to zero-cost?

[code]

[2019-09-23 12:20] tobz commented on #158
@pickfire It allows a single span to be entered multiple times.  As an example, consider a future which is wrapped in a span.  Logically, it must be represented by a single span, but "entering" (and exiting) allows the span to also track when the future is polled.

Constructing a span every time the future was polled wouldn't be the same, semantically.

[2019-09-23 13:51] pickfire commented on #158
Yeah, for multiple times it is understandable. But does not it look weird with
[code]
Yes, this patch helps to avoid that. I was wondering if there are any alternatives for single span to be entered only once?

[2019-09-23 17:41] hawkw commented on #158
To add on to this: there are also a number of cases where spans need to be created but not entered, and then entered later in another location.

For example, consider the case of the `tracing-futures` [`Instrument` combinator](https://docs.rs/tracing-futures/0.0.1-alpha.1/tracing_futures/trait.Instrument.html#method.instrument). We might want to write code like this:

[code]
In this case, we'd exp

[2019-09-23 17:45] yaahc opened #357 "New Crates: tracing-coz and tracing-flame"
## Feature Request

### Motivation

Tracing is uniquely positioned to integrate with scoped profilers and to allow trivial instrumentation of your program. https://github.com/alexcrichton/coz-rs and https://github.com/TyOverby/flame would both be great tools to add integration with.

[2019-09-23 17:53] hawkw commented on #11
@hdevalence I'm fine with that proposal. As an alternative, we could also do something like:
[code]
possibly using something like `syn`'s [`MetaList`](https://docs.rs/syn/1.0.5/syn/struct.MetaList.html). I'm open to either syntax — what do you think feels more natural?

[2019-09-23 17:55] yaahc commented on #158
Does it have to be named still? as in it cant be `let _ = span!(...).enter_owned()`.

If so then I'm against this version personally because I think it's still gonna be a point of friction for new people. Otherwise I definitely like this more than the `enter!(span!(...))` version, for the same reason used to justify postfix await.

[2019-09-23 17:55] hdevalence commented on #11
@hawkw the second syntax seems better as a user, thanks for the pointer to `MetaList`.

[2019-09-23 17:56] yaahc commented on #161
I'm not in any rush for this to be implemented personally, take your time <3

[2019-09-23 18:31] hawkw commented on #158
It will always have to be named, as `let _name` and `let _` have different semantics: `let _` immediately drops the value assigned to it, while `let _name` creates an actual binding that keeps the value alive until the end of the scope as normal. See [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a69b20ae651372cb7cc4205c4f8fa7ec) for a demo.

I agree that

[2019-09-23 18:43] zenria opened #358 "Tracing lost after entering twice in the same span"
## Bug Report

### Version

[code]

`Cargo.toml` dependencies:
[code]

### Platform

`Darwin siderant.home 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64`

### Description

Entering twice in the same span, then exiting from the second one, causes the span to be lost.

[code]

The `assert_eq!` fails. The same happens if instead of clon

[2019-09-23 19:09] yaahc commented on #158
I'll leave it up to you.

[2019-09-23 21:48] hawkw commented on #358
Thanks for the report @zenria!

This looks like a bug in `tracing-subscriber`, and I have a pretty good guess about what's causing it. It looks like there's an interaction between these two functions:
https://github.com/tokio-rs/tracing/blob/8c735e1dafeb40c10e524dc29fa39c321798cc44/tracing-subscriber/src/fmt/span.rs#L243-L252
and
https://github.com/tokio-rs/tracing/blob/8c735e1dafeb40c10e524dc29fa

[2019-09-23 21:54] hawkw commented on #161
After thinking about this a bit, I realised it was a bit more complex than I'd thought initially, so it might not actually be a "good first issue". I went ahead and wrote a rough draft of an implementation: https://github.com/tokio-rs/tracing/compare/eliza/fmt-spans?expand=1

I'd like to clean that branch up a bit and make the API surface a bit less complex before opening a PR, but it works! I've

[2019-09-23 23:18] hawkw opened #360 "chore: disable PR labeler or something"
Since this depends on a secret, the PR labeling action doesn't work on PRs from forks. We should turn it off or figure out a way to fix it, so that it doesn't cause spurious ❌s on PRs.

[2019-09-23 23:23] #11 closed

[2019-09-24 00:41] yaahc commented on #161
I am having trouble seeing which events correspond to open/close. enter/exit seems obvious tho

[2019-09-24 00:51] hawkw commented on #161
@yaac_ the close ones say "close". I didn't add any text to opens but they could say "new span" or "open" or something

[2019-09-24 01:28] pickfire commented on #158
Looks like a potential footgun to me. Some beginners might just do one of the following but no errors are being displayed if I am correct. (I did not verify these but these are what comes to my mind)

[code]

[2019-09-24 01:48] hawkw commented on #158
Not all of these would cause incorrect behavior --- only the first and third would result in the span being immediately exited. The third example you gave (`span!().enter_owned()`) would be caught by a `must_use` attribute on the guard type, so the user would be warned that it could cause incorrect behavior.

In the first case (`let _ = span!()`), the user is explicitly choosing to immediately dis

[2019-09-24 07:03] zenria commented on #358
Thank you, for the analysis :)

I'll give a try fixing this !

[2019-09-24 16:19] pickfire commented on #158
Nice explanations.

Okay, so that is the only possible case not guarded by rust. How does the library prevents the users from doing that?

This is solvable with documentation but leaving a potential foot gun to the users by assuming everyone read the docs (or if they did not missed it) seems bad.

[2019-09-24 20:31] #360 closed

[2019-09-25 21:39] #358 closed

[2019-09-26 00:28] GregBowyer commented on #357
Tracing-coz: (Untested might eat your children) https://crates.io/crates/tracing-coz

I basically have a tracing enabled program that I want to coz profile so I built this out

[2019-09-26 15:30] #300 closed

[2019-09-26 15:57] jsgf opened #365 "Feature-dependent dependencies are documented to not work"
## Bug Report

### Version
Current git master

### Crates

- tracing
- tracing-core

### Description

According to the [Cargo documentation](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#platform-specific-dependencies):

However, the [tracing](https://github.com/tokio-rs/tracing/blob/930bd731cc30afc26c6d3daabf959b1d97b77574/tracing-core/Cargo.toml#L40-L42) crates are appar

[2019-09-26 16:03] david-mcgillicuddy-moixa commented on #161
The use case I had for something like this was to track any spans that took over a certain amount of time.
I ended up writing a little bespoke proof of concept: https://gist.github.com/david-mcgillicuddy-moixa/e925cd78d48a8c3324414ee492532b14

[2019-09-26 18:02] hawkw commented on #161
@david-mcgillicuddy-moixa Very cool! You might want to take a look at the [`tracing-timing`](https://github.com/jonhoo/tracing-timing) crate by @jonhoo — it's possible that this kind of functionality is something that you could add to that crate?

[2019-09-26 18:31] jsgf commented on #365
According to https://github.com/rust-lang/cargo/issues/7442#issuecomment-535581672, `cfg(not(feature = "std"))` always evaluates to true, so this is a no-op.

[2019-09-26 20:56] hawkw commented on #365
Thanks for bringing this up!

The intention was to follow the convention commonly used by other crates which can conditionally support `no_std`, where rather than having a feature flag that enables `no_std` support, instead, there is a feature flag for the `std` dependency that can be disabled. However, in order to support `no_std`, we have to enable other dependencies/dependency feature flags whi

[2019-09-26 23:14] jsgf commented on #365
Well, right now everything is getting the `no_std` behaviour whether they want it or not, but I'm not sure what effect that has (other than any dep graph containing this crate will be using `lazy_static` with `spin`).

[2019-09-27 16:02] davidbarsky opened #367 "[Revisit Design Decision]"
Right now, a span filter will turn on everything inside that span, regardless of target. This is a possibly confusing user-experience.

Right now, the target is used to match the span for which the level is set for, but it _probably_ should be changed to set a _level_ for everything with that target, inside the span.

[2019-09-29 16:31] udoprog opened #369 "deadlock in TraceLogger"
## Bug Report

`TraceLogger` deadlocks on most non-trivial operations.

### Crates

* `tracing-log`

### Description

Most operations on `TraceLogger` locks `self.spans` and tries to call [`current_id`](https://github.com/tokio-rs/tracing/blob/cd83212a9a1e68db6b0011e76c39a0210a653226/tracing-log/src/trace_logger.rs#L415). `current_id` in turns tries to clone the span using [`clone_span`](https://g

[2019-09-29 16:36] udoprog commented on #369
I don't know what the correct solution is because I can't wrap my head around what the `ref_count` on `SpanLineBuilder` is trying to accomplish. I've solved this by cloning the `Id` directly without modifying `ref_count` of the appropriate `SpanLineBuilder`, but I also don't seem to be seeing any `close` logs happening (which should be handled here: https://github.com/tokio-rs/tracing/blob/cd83212

[2019-10-01 03:33] pkinsky commented on #272
I'd be interested in putting together a DSL using the `Into<Expect>` pattern suggested earlier (seems like a good way to get started with OS rust stuff). @yaahc, would you mind if I base that work on your renaming commit (`e3663c9`)?

[2019-10-01 16:41] yaahc commented on #272
@pkinsky that sounds awesome, go for it!

[2019-10-01 18:14] hawkw commented on #369
I think it should be possible to just move the calls to `current_span` to before the lock on `self.spans` is acquired.

Ideally, though, the solution is to move away from the global mutex; I'm working on a general-purpose data structure for storing spans where a global lock is unnecessary (see #157).

[2019-10-02 23:46] hawkw commented on #157
For those of you following along at home, I _am_ still working on this. I know it's been pretty silent, but I just published an experimental first release of a [lock-free slab](https://github.com/hawkw/sharded-slab) that I believe should offer the right performance characteristics to serve as the core for a span store abstraction.

My plan is to replace the storage layer in `tracing-subscriber`'s

[2019-10-03 01:09] hawkw commented on #365
Upon further consideration, I think the best approach is probably to do the following:

1. Vendor any code from dependencies that are only needed for `no_std` support in-tree.
2. Mark the vendored code as `#[cfg(not(feature = "std"))]`
3. Carefully watch the upstreams the vendored code comes from for any major bugfixes
4. Hope Cargo eventually adds better mechanisms for conditionally supporting `n

[2019-10-05 18:40] Ralith opened #372 "Dynamic level support"
## Feature Request

### Motivation

Foreign libraries often (e.g. Vulkan, OpenGL, libpng) expose callbacks to report diagnostics. Piping these into `tracing` events provides good pleasant user experience, but when severity is specified in an argument, generating an event of the corresponding level is difficult, as the `event` macro requires a constant argument. Additionally, it should be possible

[2019-10-05 19:54] hawkw opened #373 "List/link to third-party crates"
## Feature Request

### Motivation

I'm very pleased to note that there are now several crates in the ecosystem built on `tracing` that aren't part of this repository or maintained by me! Since these third-party crates aren't in this repository, however, they can be much less discoverable for users.

### Proposal

We should consider adding a list of external crates in the `tracing` ecosystem in th

[2019-10-07 23:34] #231 closed

[2019-10-08 06:48] anton-dutov commented on #89
Have you looked at the rustracing / rustracing_jaeger crates for impl ideas?

[2019-10-08 21:06] #240 closed

[2019-10-08 21:10] hawkw commented on #218
#241 has been merged, which should hopefully unblock this.

[2019-10-08 21:10] #121 closed

[2019-10-08 21:10] hawkw commented on #73
#241 has been merged, which should hopefully unblock this.

[2019-10-09 14:24] pimeys commented on #218
Is somebody else working on this? I kind of need the feature and did my first try today. Looks like it outputs JSON and I only implemented the full context for now. This is my first look into tracing codebase, so...

Output looks like

[code]

Is there any ideas how the resulting JSON should look like? At least the timestamp handling here is not ideal...

[2019-10-09 14:32] davidbarsky commented on #218
@pimeys I think @bIgBV was gonna try it, but I'm not sure if he has the bandwidth. Feel free to open a pull request with those changes and we can discuss the formatting there.

As for the formatting you have, I think that's a reasonable start, but we can work on setting a reasonable default in that PR + subsequent ones.

[2019-10-09 15:43] pimeys commented on #218
I'm kind of stuck understanding how the visitor pattern works in here. I would like to format the fields I have to the JSON structure, but the other implementations in the formatters pass along the writer, where now I'd like to just iterate over the fields, copying the keys as moving the values...

[2019-10-09 15:55] davidbarsky commented on #218
We'd be able to offer better support and explanations if we can see your code :). Don't worry about the PR not being complete; this is a collaborative process.

[2019-10-09 15:56] davidbarsky commented on #218
Ah, sorry! Found your code: https://github.com/pimeys/tracing/commit/a7e7fbd1c32d618a78e124f10bb23d0944710413

[2019-10-09 15:58] pimeys commented on #218
Oh yeah, been just writing all of this down and cleaning stuff. Here's the WIP PR: https://github.com/tokio-rs/tracing/pull/377

[2019-10-10 16:01] #355 closed

[2019-10-11 00:28] emschwartz opened #378 "Macro to create span with fields dependent on log level"
## Feature Request

### Crates

`tracing`

### Motivation

The context details you want to add to a span may depend on the log level. For example, if you are handling some type of request, you may want to print some important fields like a request ID in every log line within the span (`Level::ERROR`), whereas there may be other details that are only needed when debugging (`Level::DEBUG` or `Level:

[2019-10-11 15:35] davidbarsky opened #379 "subscriber: Add more timestamp formatting options"
In the [`time` module in tracing-subscriber](https://github.com/tokio-rs/tracing/blob/master/tracing-subscriber/src/fmt/time.rs), we have _either_ human-readable timestamps _or_ custom formatting options. We should support several named formats that make it easy to for end-users to pick the right format for their use-case. To start with, we can support:
- a "for humans" time format, as we do now.

[2019-10-11 16:05] hawkw commented on #379
I'm not sure why the title of this issue is "Revisit the usage of `fmt::Result`"? But other than that, +1.

[2019-10-11 16:07] hawkw commented on #379
FWIW, we also have an `Uptime` option: https://github.com/tokio-rs/tracing/blob/06daa9512b250e2d73e8722f7f15dfcb9d95f3be/tracing-subscriber/src/fmt/time.rs#L57-L63

[2019-10-11 16:11] hawkw commented on #379
Also, whether a `SystemTime` is printed in a human-readable format or using `SystemTime`'s `fmt::Debug` impl is currently only controlled by a feature flag:
https://github.com/tokio-rs/tracing/blob/06daa9512b250e2d73e8722f7f15dfcb9d95f3be/tracing-subscriber/src/fmt/time.rs#L79-L90

This is probably not idea — if a dependency enables the `"chrono"` feature, the timestamp will _always_ be printed wi

[2019-10-11 16:12] hawkw commented on #379
When `chrono` is in use, we could probably allow passing in a custom format string. Also, I think the `SystemTime` timestamp implementation should probably _always_ use `std::time::SystemTime`, and we should add a separate `Chrono` timestamp formatter that's enabled when `chrono` is enabled?

[2019-10-11 16:13] #229 closed

[2019-10-11 17:18] pimeys opened #380 "Problems with the generic nature of FmtSubscriber"
## Feature Request

### Crates

- tracing-subscriber

### Motivation

Due to the generic nature of `FmtSubscriber`, it's quite cumbersome to write a function/match statement to generate a different kind of subscriber at runtime.

Example:

[code]

Will not work.

We can also box here:

[code]

But then using the deref of the return value in `set_global_default` will cause trouble with the return v

[2019-10-11 20:35] davidbarsky commented on #379
I mostly was inattentive, sorry. I meant to say that we can’t really capture serde errors in the writer.

On Fri, Oct 11 2019 at 12:07 PM, < notifications@github.com > wrote:

[2019-10-11 22:57] hawkw commented on #379
@davidbarsky yeah, can we have a separate issue for that please?

[2019-10-14 16:26] oblique opened #381 "Deadlock in tracing_log::TraceLogger"
## Bug Report

### Crates

[code]

### Description

There is a dead lock in `tracing_log::TraceLogger`.

Almost all methods of `TraceLogger` lock at some point `self.spans` and then they call `TraceLogger::current_id`. However `current_id` relocks `spans` because it calls `clone_span`.

You can reproduce with:

[code]

[2019-10-14 18:46] hawkw commented on #381
Thanks for the report. This is a duplicate of #369, so if you don't mind, I'd like to close this issue so that we don't have two tickets tracking the same bug.

In the meantime, you may want to consider one of the following:
- Enable the "log" feature flag on the `tracing` crate. This will cause all the `tracing` macros and types to emit `log` records as well as traces, so you can consume them wit

[2019-10-14 18:49] hawkw commented on #369
The best solution to this issue might just be to deprecate and remove `TraceLogger`. It was written before the "log" feature flag, which causes all the `tracing` macros and structs to emit `log::Record`s as well as traces, was added. Using the feature flag is probably a better solution for most use-cases where recording `tracing` data with a `log::Logger` is desired.

If there are any reasons why

[2019-10-14 18:52] oblique commented on #381
Sorry I didn't see #369 before reporting. I'm closing the issue.

[2019-10-14 18:52] #381 closed

[2019-10-15 00:06] hawkw opened #383 "core: add `dispatcher::set_default`"
## Feature Request

### Crates

- `tracing-core`

### Motivation

Currently, the only ways to set the default subscriber are `set_global_default` and `with_default`. The `with_default` function takes a closure, and sets the default subscriber for the duration of that closure, while `set_global_default` sets a default for the entire lifetime of the program, and fails if called more than once.

The

[2019-10-15 00:07] hawkw commented on #383
@carllerche any thoughts on whether we should do this?

[2019-10-15 00:11] Ralith commented on #383
To be clear, there doesn't seem to be a simple way to set a single global subscriber for tests, so this use case isn't niche. You could start every test with a call that locks a global mutex and installs a global subscriber if one does not yet exist, but that's both uglier and requires more code than the proposed solution.

[2019-10-15 00:26] hawkw commented on #383
@Ralith AFAICT this is the state of the art for logging in tests in the `log` world, so I hadn't really considered it _that_ bad — I've seen a lot of code where every test begins with a call to `my_custom_init_env_logger()` or whatever. But, I agree that this could be more ergonomic!

And, since `tracing` (unlike `log`) has a notion of scoped subscribers, we can do really nice stuff like separatin

[2019-10-15 21:06] hawkw commented on #383
FWIW, the `tokio_reactor::with_default` and `tokio_timer::with_default` functions have been replaced with [`set_default`][1] functions][2] that return a drop guard in the 0.2 alpha branch of `tokio`. Therefore, the "consistency with `tokio`" argument against adding a drop-guard-based API is pretty much moot, and I think we should probably go ahead and add `set_default` to `tracing` as well.

Here'

[2019-10-15 21:15] yaahc opened #384 "tracing: Add examples to root readme"
## Feature Request

It's pretty common for crate to have a set of code snippets needed to get started with the least effort possible, and I rely on crates I use having the frequently used syntax in snippets in their main README to advertise this. A good example of this is https://github.com/dtolnay/trybuild

### Proposal

We should add a basic example of the minimal set of dependencies and syntax

[2019-10-15 21:17] hawkw commented on #384
👍 this seems like a great idea! There are examples in the `tracing` crate's readme (since that's the readme used on its crates.io page), but none in the root repo readme — we should definitely fix that.

[2019-10-17 21:34] #379 closed

[2019-10-18 16:28] HermannLucas opened #389 "Missing u8 implementation for trait tracing_core::field::Value"
## Bug Report
The trait `tracing_core::field::Value` do not have an implementation for u8.
However it has an implementation for all the other integers types.

### Crates

tracing-core

### Description

Adding a field of type u8 to a tracing event gives the following error:

[code]

[2019-10-18 17:57] hawkw commented on #389
Thanks for the report! Looking at the code, I think this was an oversight or typo, since we generate implementations for every other integer type.

I think this should be a pretty easy fix — we'd just need to add `u8` to the macro invocation on this line:
https://github.com/tokio-rs/tracing/blob/97a8681fb9106ae57d17ba42ae177501f47fcd95/tracing-core/src/field.rs#L317
Note that for `i8`, there _is_

[2019-10-18 18:56] #383 closed

[2019-10-18 21:48] #218 closed

[2019-10-18 21:51] hawkw opened #391 "subscriber: don't escape field values in JSON"
## Feature Request

### Crates

- tracing-subscriber

### Motivation

Follow-up from #377. Currently, field values of spans in `tracing-subscriber::fmt` JSON output are escaped strings. This should be fixed (see https://github.com/tokio-rs/tracing/pull/377#discussion_r335311790).

[2019-10-18 21:58] hawkw commented on #389
@HermannLucas I'd like to get a `tracing-core` release out in the next few days, so if you're interested in making this change it would be great to get it in. Otherwise, I'd be happy to do it myself.

[2019-10-18 22:10] HermannLucas commented on #389
Sorry for the delay.

I'm happy to make this change and submit a PR.

[2019-10-18 22:12] hawkw commented on #389
Great, thanks!

[2019-10-18 23:12] #389 closed

[2019-10-20 13:42] lunchboxav commented on #384
Hi, may I try to solve this issue? I'm currently super curious about tracing and want to do more Rust, so this feels like something very interesting for me personally

[2019-10-20 15:43] yaahc commented on #384
I think that sounds like a great idea. If you do make sure your example includes setting the default log level to info or something

[2019-10-21 09:51] wngr commented on #369
I'd encourage you to put this deprecation hint into this repo's README and also rm the reference to this crate at https://docs.rs/tracing/0.1.9/tracing/#related-crates.

[2019-10-21 12:06] oblique opened #394 "Spans do not have effect if task is send to another thread"
## Bug Report

### Version

[code]

### Platform

[code]

### Crates

[code]

### Description

If tracing is used within a ThreadPool executor and task is send to another thread, then spans do not have any effect.

Minimal example:

[code]

Output:

[code]

Expected output:

[code]

[2019-10-21 13:03] oblique commented on #394
Another issue that probably is caused by the same bug: When tracing is used within ThreadPool executor, `span::Entered` does not remove span correctly.

Minimal code:

[code]

Output:

[code]

Expected output:
[code]

[2019-10-21 16:40] hawkw commented on #394
This issue is due to an interaction with the code that the compiler generates for `async` blocks. Since the locals in the async block remain across yield points, the `Entered` guard is not dropped when the spawned future is yielded and re-created when it is polled. Instead, it persists as long as the `async` block future exists. This means that it is entered a single time and remains entered as lo

[2019-10-21 16:42] hawkw commented on #369
@wngr FWIW, the `tracing-log` crate itself is definitely _not_ deprecated; it also provides a translation layer from `log` records _to_ `tracing` events that is commonly used. It's specifically the `TraceLogger` type that should be deprecated.

I'll mark it as deprecated in the next release.

[2019-10-21 17:32] wngr commented on #369
Alright, thanks for the clarification! Marking `Tracelogger` sounds reasonable.

[2019-10-21 17:35] oblique commented on #394
I don't think that's the problem here. I didn't investigate to find the cause, but I think it has to do with task local variables when a task is send to another thread. Just to demonstrate this I modified my example to use `LocalPool` instead. The result is exactly what I expect.

[code]

Output:

[code]

[2019-10-21 18:13] pkinsky commented on #89
I've been playing around with a tracing honeycomb subscriber and one of the things I've had to spend some time thinking about is how trace ids are generated/discovered.

My initial impl just generates a trace id for all top-level spans, but it might make more sense to make this explicit instead of implicit. For example, in a GRPC service I'm building, I think I want to either generate per-request

[2019-10-21 19:29] oblique commented on #394
I think the cause of the problem is that `tracing_subscriber::fmt::span::Context` is using `thread_local` variables.

async-std solves this by implementing `task_local`. Maybe something similar can be implemented here. However I don't know how it can be executor agnostic.

[2019-10-21 19:55] oblique commented on #394
Indeed `instrument` solves my problem. You can close the issue if you want. But please keep in mind the `task_local` improvement.

[2019-10-21 20:01] hawkw commented on #394
@oblique I modified your examples to use `instrument`, and I get the expected output:

## example 1:

<details>
<summary>Modified code</summary>

[code]
</details>
Output:
[code]

## example 2

[code]
</details>

Output:
[code]

[2019-10-21 20:06] hawkw commented on #394
@oblique

`tracing-futures`'s `Instrument` combinator essentially _implements_ a task-local variable. We can't rely on task-local storage APIs provided by the executor, since we want to be compatible with all executors, and there's no concept of task-local storage in the `std::future` interface.

[2019-10-22 03:54] couchand opened #396 "attributes: make parameter fields optional"
## Feature Request

### Crates

* `tracing-attributes`

### Motivation

The `#[instrument]` annotation is just about the most pleasant way I've ever seen to trace code (particularly with the async-await feature flag enabled!).  While usually it's quite nice to automatically include function arguments as fields, there are several ergonomic concerns:

* only "normal" `Ident` patterns are included,
*

[2019-10-22 04:03] couchand commented on #396
I see now that this was already covered in #11 and closed in #359, which I missed due to the fact that `tracing-attributes` version 0.1.4 hasn't yet been included in a top-level `tracing` release.  Forgive the unnecessary issue.

[2019-10-22 04:03] #396 closed

[2019-10-22 16:16] hawkw commented on #396
We should probably get a release of `tracing` out which includes #359.

[2019-10-23 01:14] inanna-malick opened #399 "#[instrument] codegen does not work with async_trait async fns"
## Bug Report

`async_trait` (as re-exported by `tonic`) and `instrument` do not work as expected together. Instrumented async trait fns enter then immediately exit and drop their span, while top-level async functions work as expected.

Minimal reproduction with checked-in expanded macro-generated code at https://github.com/pkinsky/tracing-async-trait-bug-repro

This is a cross-project bug, let me

[2019-10-23 05:58] lunchboxav commented on #384
hi @yaahc , I think I can get this to work. I made quick code like this

[code]

But I couldn't get any debug or info message printed in the command line while running the code with `cargo run`. Is there any specific command or setting that I missed? Thank you

[2019-10-23 21:34] yaahc commented on #384
I'm not sure precisely why its not working, can you remove the `attrs_args=` part of the filter and just set it to info and confirm that `attrs_args` actually matches the module_path?

Alternatively I recommend using

[code]

[2019-10-23 21:35] hawkw commented on #384
@lunchboxav In your example, you're setting a filter `attr_args=info`. This means that any spans and events with a target starting with "attrs_args" and verbosity level INFO or higher will be enabled.

By default, the target of a span or event is the module path of the code it occurs in. I'm assuming your code is not in a file is not called `attrs_args`. Also, the filter you're setting means the `

[2019-10-23 21:35] hawkw commented on #384
Instead of using `with_env_filter`, you could just use
[code]

[2019-10-23 21:55] yaahc commented on #384
this is vaguely what I want to see, though I would prefer to see these split up into multiple small snippets that focus on each piece of syntax that I'd want to quickly refer to

[code]

[2019-10-23 23:57] lunchboxav commented on #384
ah, yes @yaahc @hawkw , I realized I messed up the `env_filter` there. thanks!

Also, well noted @yaahc , let me break that down..

[2019-10-24 09:44] #394 closed

[2019-10-24 15:31] yaahc opened #404 "subscriber: Provide non-parse based methods of setting directives for Filters"
## Feature Request

### Crates

* tracing-subscriber

### Motivation

Right now the interface for setting up only allows for setting up complex directives with more than just a Level via the parse interface. It should be possible to add alternative methods of constructing `Directive`s such as from tuples, via a constructor, etc.

### Proposal

Add a new from impl for Directives `impl From<(&str, L

[2019-10-24 15:58] hawkw commented on #404
If memory serves, the reason `add_directive` takes `Directive` rather than `Into<Directive>` is because taking a `Directive` allows code like
[code]
whereas if the method took `Into<Directive>`, the type for `parse` couldn't be inferred, so you'd have to say
[code]

If we add APIs for constructing directives programmatically, I think ergonomics for parsing them from strings in `add_directive` is l

[2019-10-24 19:25] pkinsky commented on #399
Thought: what if `#[instrument]` used tracing-futures instrumentation pathway on _any_ function returning a value deref'able to a `Box<dyn Future<..>>` (to include `::core::pin::Pin<Box<dyn Future<..>>>` as in the above example codegen) - it would break backwards compatibility for functions that do work before returning futures and would probably need to be feature-flagged or otherwise explicitly

[2019-10-24 20:39] yaahc commented on #404
Alternatively we could have `add_directive` use `TryFrom` which should make it possible to write the following

[code]

In this world I'm imagining `add_directive` would be a panicking function where as try_add_directive would forward the conversion error back to the caller. I'm very happy with the idea for builder patterns from `Level`s though, so this is just me tossing ideas around not really a

[2019-10-24 21:56] davidbarsky opened #407 "`tracing-subscriber`: write spans/events to files"
## Feature Request

### Crates

`tracing-subscriber`should provide guidance for emitting spans/events to a file system, supporting use-cases like file rotation based on set criteria.

### Motivation

I know of people and teams who _could_ use tracing, but they need to log their spans/events to a file system with rotations/max-sizes.

### Proposal

I _think_ the [`with_writer` method](https://docs.

[2019-10-24 22:14] hawkw commented on #404
Personally, I'd prefer not to have an infallible (panicking) `add_directive` _and_ a fallible `try_add_directive`, I'd prefer to just put the decision of whether to bubble up the error or panic at the call site...

[2019-10-24 23:42] yaahc commented on #404
I'm not sure what you mean by "putting the decision at the call site"

[2019-10-24 23:50] hawkw commented on #404
@yaahc I think it's better to have one `add_directive` that's infallible and does not panic, and let the user use `?` or `expect`/`unwrap` if they want to call it with something fallible, instead of having an `add_directive` that might panic and a `try_add_directive` that returns a `Result`. IMO, the user is constructing the directive that's being passed in, they should be able to decide how to ha

[2019-10-25 14:51] lunchboxav commented on #172
@hawkw I'm wondering, whether or not this piece of code sufficient for this issue

[code]

[2019-10-25 17:27] hawkw commented on #172
@lunchboxav yeah, that's basically it, although your function is missing a return type and takes an argument that it doesn't need (it should be `fn default() -> Self`). However, rather than adding a new inherent method to `Dispatch`, we'd want to add this in an implementation of the standard library's [`Default` trait](https://doc.rust-lang.org/std/default/trait.Default.html).

If you're intereste

[2019-10-25 17:51] hawkw commented on #404
I think we should probably make a separate issue for potential changes to the `add_directive` API --- adding a programmatic builder for filters is not a breaking change, but reworking `add_directive` probably is.

[2019-10-25 23:47] lunchboxav commented on #172
like so @hawkw

[code]

also, what kind of test do I need to supply?

[2019-10-26 02:37] lunchboxav commented on #172
is this kind of test enough to test that the Dispatcher is created with default config?

[code]

[2019-10-29 19:59] #369 closed

[2019-10-31 20:20] #172 closed

[2019-11-07 00:29] hawkw opened #418 "futures: make std::future the default"
## Feature Request

### Crates

`tracing-futures`

### Motivation

Currently, the `tracing-futures` crate enables futures 0.1 support by default. This is because until quite recently, async/await was not stable, and most `std::future`-based projects require async/await. Now, however, async/await is available on stable Rust, so we should move to make it the default for the `tracing-futures` crate.

[2019-11-07 06:57] Alxandr opened #419 "Improve docs"
As discussed on discord yesterday, there are some holes in the docs that should probably be ironed out:

- [ ] The `Value` trait cannot be implemented. This is expected to change over time, but for now, the way to emit "complex" values in spans/events is by doing something like `info!(%foo.bar, %foo.baz)` instead of just `info!(foo)`.
- [ ] In the docs for `enter`/`exit` on the `Subscriber` trait

[2019-11-07 15:59] davidbarsky commented on #418
Should `tokio-alpha` also be enabled by default? I'm somewhat inclined to say "yes", but I don't feel too strongly about that.

[2019-11-07 18:54] hawkw commented on #418
That would require bumping MSRV to 1.39.0. I'm willing to consider doing a MSRV bump (which would also allow us to take all the async-await examples and tests out of the separate crates they currently have to live in), but I think that is a separate change.

I'm also on the fence about having a dependency on an alpha crate be a default feature, since it would currently be pretty easy to end up wit

[2019-11-07 19:33] yaahc commented on #418
would you only be bumping the MSRV for the tracing-futures crate? That seems entirely reasonable to me given the context of 1.39

[2019-11-07 20:25] hawkw commented on #418
Beyond being able to turn on `tokio` 0.2 by default, the other main motivation for bumping the MSRV is so that we can move the examples that use async-await into the main workspace (and _add_ examples with async-await in RustDoc). Since adding the examples to the root workspace would break the build if they can't be compiled, the build on CI would require Rust 1.39.

However, it's worth noting tha

[2019-11-07 20:26] olix0r commented on #418
what does this mean for projects that are unable to move to std::future immediately. Would the 0.1 branch receive bugfixes?

[2019-11-07 20:44] hawkw commented on #418
@olix0r it should be possible to change the dependency to
[code]
and there shouldn't be any code that requires Rust 1.39 or `std::future`.

This is why I'm a bit more hesitant about also bumping MSRV, and I think it should be considered separately from releasing a `tracing-futures` 0.2.

[2019-11-07 20:46] hawkw commented on #418
(i'm happy to also backport changes to 0.1 if there's a reason to, I just think it likely won't be necessary if dependent projects are willing to switch feature flags around to pick up 0.2)

[2019-11-08 23:18] davidbarsky commented on #302
Here are my initial thoughts:

I think that a system like `tracing`—providing single, centralized instrumentation—is pretty novel. Therefore, we have the ability to set customer expectations around `tracing` and systems like it from the get-go. If my assumption is wrong, this can _absolutely_ be revisited. To answer:

I think that the entire _reason_ for splitting apart instrumentation data into c

[2019-11-09 07:15] thedodd commented on #89
OT/Jaeger support would definitely be a pretty big win!

[2019-11-09 22:54] davidbarsky commented on #391
This is fixed in https://github.com/tokio-rs/tracing/pull/412/commits/9dc540207cdde7168cb5bdfbfe627919d055ccc4.

[2019-11-12 00:32] samscott89 opened #422 "New attribute - "event"?"
## Feature Request

### Crates

`tracing-attributes`

### Motivation

It would be nice to be able to create events on invoking a method, much like how `#[instrument]` can create a span for a method.

The rationale is that I find myself often picking between:
[code]
and
[code]
where the former is more convenient to write, but ends up with a redundant "doing a thing" message.

An alternative might b

[2019-11-12 01:40] samscott89 commented on #422
Example implementation almost 1 for 1 copy of `instrument`: https://github.com/tokio-rs/tracing/compare/master...samscott89:sam/event-attribute

[2019-11-12 18:51] hawkw commented on #422
Hmm, I'm open to something like this, if folks think it would be useful. I do have a couple things to add though:

1. If we want to re-export this attribute from the `tracing` crate, the way we do with `#[instrument]`, it can't be called `#[event]`. Unfortunately, attribute macros and function-like macros occupy the same namespace, so that would conflict with the `tracing::event!` macro.
2. Anothe

[2019-11-14 00:47] #135 closed

[2019-11-14 00:47] #157 closed

[2019-11-14 00:47] #391 closed

[2019-11-14 17:17] Alxandr opened #426 "Provide an API for overriding scope tracking"
## Feature Request
The new Registry type enables splitting different responsibilities between different implementors with "layers" wrapped around it. However, if you need to swap out the way the current span is tracked (with enter/exit). The only way to do so would be to create your own "Registry" type and enable wrapping the same layers around it.

Instead, I suggest creating a trait for this fun

[2019-11-14 18:11] davidbarsky commented on #422
I might be misunderstanding the _reason_ for opening this issue—please correct me if I'm wrong, @samscott89.

A while ago, I believe @yaahc, @hawkw, and I were discussing introducing an option to `FmtSubscriber` where it'd write out the current span (and their parental hierarchy) each time a span would enter and exit. Currently, `FmtSubscriber` only writes that data if an event occurred in that sp

[2019-11-14 18:59] davidbarsky opened #427 "subscriber: Move `FmtContext::visit_spans` to `layer::Context`; make it return an Iterator"
(This is followup from https://github.com/tokio-rs/tracing/pull/420)

Several notes:
- The method [`FmtContext::visit_spans`](https://github.com/tokio-rs/tracing/blob/773c44054aed7f072ff03ee5dc64391f799dc02d/tracing-subscriber/src/fmt/fmt_layer.rs#L441) should be moved to [`layer::Context`](https://docs.rs/tracing-subscriber/0.1.6/tracing_subscriber/layer/struct.Context.html).
- The new `layer::Co

[2019-11-14 19:00] hawkw commented on #426
I'm definitely on board with this — it would also help significantly with `no_std` support in the `tracing-subscriber` crate, since this would allow swapping out the use of thread-locals for something else, such as CPU ids in a bare-metal OS use case, or just having a single context in an embedded use case with only one core, etc.

Just to double check, you determined that using `async-std`'s task

[2019-11-14 19:03] hawkw commented on #422
(for those following along from home, the feature @davidbarsky's referring to is tracked in issue https://github.com/tokio-rs/tracing/issues/161)

[2019-11-14 19:04] davidbarsky opened #428 "subscriber: Performance Improvements to `fmt::Layer`"
(This is followup from #420)

`fmt::Layer`'s performance can _probably_ be improved by pooling allocations of `String`s and `Extension`s. `hawkw/natatorium` is one possible crate that can be used.

[2019-11-14 19:09] davidbarsky opened #429 "subscriber: Enable `Layer`s to read a recently-closed span"
(This is followup from #420)

`Layer::on_close` should be able to read the _just_ closed span(s). At the moment, it's not possible to see a fully-completed span & export span's data, as the registry is not guaranteed to have the just-closed span in question.

[2019-11-14 19:12] yaahc commented on #422
I wanted a setting in the subscriber for being able to add implicit `enter` and or `exit` events upon entering / exiting spans. If we were to do this as an attribute I think I'd prefer if it was independent of the intstrument macro. As in you have one macro for adding spans to a function, and another macro for adding entry and or exit events to a function. That and a global setting on the fmt subs

[2019-11-14 19:27] hawkw commented on #428
I think a better solution (rather than trying to get the `natatorium` stuff releasable) would be to add support for pooling to `sharded_slab`: https://github.com/hawkw/sharded-slab/issues/2

[2019-11-14 19:28] davidbarsky opened #430 "subscriber: Provide Examples for `fmt::Layer` and `fmt::LayerBuilder`."
(This is followup from #420)

`tracing` should provide examples of building and composing `fmt::Layer` in the style that the examples directory does with `fmt::Subscriber`. Basic examples can be seen in the unit tests for `fmt::Layer`:

https://github.com/tokio-rs/tracing/blob/773c44054aed7f072ff03ee5dc64391f799dc02d/tracing-subscriber/src/fmt/fmt_layer.rs#L487-L502

In general, examples should fo

[2019-11-14 19:32] hawkw commented on #427
There's already a `parents` method on `SpanRef`, which returns an iterator over the parents in order from the immediate parent to the root. I would call the new method something different — maybe `scope` or `current_scope`?

I don't think we should remove `FmtContext::visit_spans` or change its API, at least not yet. Since this interface was in the previous fmt API, I'd want to do a deprecation be

[2019-11-14 19:43] hawkw commented on #422
@yaahc I don't really understand the use-case for having _both_ an attribute like the one you're describing, _and_ adding a configuration to `FmtSubscriber` to log enter/exit. Is there a reason we would need both? This seems like a whole lot of options for doing more or less the same thing, and I'm not sure it's worth presenting users with a lot of choices that are similar but subtly different, un

[2019-11-14 20:41] davidbarsky commented on #429
I know that @hawkw had a lot of opinions and thoughts as to how this should be implemented; far more than me.

[2019-11-14 20:57] davidbarsky opened #431 "subscriber: Implement `FollowsFrom`"
(This is followup from #420)

The `Registry` and `fmt::Layer` should record all the spans that a given span succeeds. This data will need to be added to `DataInner`:

https://github.com/tokio-rs/tracing/blob/773c44054aed7f072ff03ee5dc64391f799dc02d/tracing-subscriber/src/registry/sharded.rs#L67-L72

and exposed via the `SpanData` trait:
https://github.com/tokio-rs/tracing/blob/773c44054aed7f072ff0

[2019-11-14 21:01] hawkw commented on #429
Having given this some thought, it turns out to be a surprisingly tricky problem. Here's some of what I've been thinking:

## Goals

The specific functionality we want here is that when a span closes, the `Layer`s handling an `on_close` callback should be able to access _that_ span's data before it is removed from the registry.

Some requirements:
+ "Spans should close when they close": What I mea

[2019-11-14 21:04] hawkw commented on #429
It's probably best to *start* with a solution that doesn't require a `tracing-core` change. If there ends up being a need for this type of thing outside of `Registry`, _then_ we can consider adding it to `core`.

[2019-11-14 21:04] yaahc commented on #422
@hawkw The usecase for having both is that presumably the global one could be controlled by an env variable or something so that you can turn it on without recompiling. It could then be used like trace logging where you have your subscriber just start logging events for every span enter/exit/open/close so you can just turn on the firehose and quickly identify what your problem is without having to

[2019-11-14 21:13] hawkw commented on #422
@yaahc I guess I just don't see a compelling _reason_ to emit an `Event` on span enter, exit, open, and close. We already _have_ subscriber methods for these events (in the little-'e' sense, not the type) that are more semantically meaningful within `tracing` than an `Event` with a message like "span entered".

I don't think adding `Event`s to these span lifecycle events at the instrumentation poi

[2019-11-14 21:53] Alxandr commented on #426
I've not determined that. I've determined that using task-locals wasn't enough to get rid of task instrumenting. I still think using task-local is better than thread-local, cause a single task could (as far as I know) move between threads. It might be an unwarranted fear in my case though, but comming from .NET, there's a lot of issues with `ThreadLocal<>` that `AsyncLocal<>` solves. The situation

[2019-11-14 22:53] hawkw commented on #426
@Alxandr

yup, and I think that neatly solves the problem you described with thread-locals. :)

[2019-11-14 23:09] yaahc commented on #422
This is the original proposal from #161 right? Where you have settings on the subscriber to enable these various Event-like handling blocks within the `Subscriber::{enter, exit, open, close}` methods.

[2019-11-14 23:17] hawkw commented on #422
Right, we want the `fmt` subscriber to have the option to log span lifecycle events. Other subscribers could do similar things if it makes sense with the behavior they implement

[2019-11-15 02:41] samscott89 commented on #422
Thanks all for adding a bunch of stuff to this thread I really hadn't even thought of.

The original motivation was mostly inspired by laziness. Basically, there's a lovely `instrument` macro which captures a bunch of variables, and (assuming use of a subscriber like the `fmt` one), I can easily see all of these variables if I create an event right after.

This probably isn't the right approach to

[2019-11-16 18:33] hawkw commented on #161
We can probably add logging on `enter`/`exit` to the `FmtLayer` pretty easily right now. Getting nice formatting on closes (e.g. being able to log any of the span's _data_) will require #429; there is currently a PR #432 in flight that should resolve that ticket.

[2019-11-16 18:35] #365 closed

[2019-11-16 18:35] hawkw commented on #365
PR #424 fixes this. Once we publish new `tracing` and `tracing-core` releases, the incorrect dependencies should be gone! :) Thanks @jsgf for the report and @thombles for taking the time to fix this!

[2019-11-16 21:43] #429 closed

[2019-11-16 21:47] davidbarsky commented on #429
Closed via https://github.com/tokio-rs/tracing/commit/5d2ebc6ed7fb2976258f895f49f477f099258fcd.

[2019-11-20 18:38] hawkw opened #440 "docs: enable `feature(doc_cfg)` when on nightly"
## Feature Request

### Crates

All

### Motivation

Several `tracing` crates have a number of feature flags. Some of these feature flags control the presence of public API types, functions, etc. Currently, we attempt to list in the documentation what feature flag(s) are required to enable what APIs. However, it's easy to overlook this when reading the API docs, and it is relatively error-prone: i

[2019-11-21 16:04] emschwartz opened #442 "Newbie feedback on working with tracing"
I was talking to @davidbarsky yesterday about my experience integrating tracing and he asked me to write up an issue about it.

First of all, I think this project is awesome and am very thankful for all of your work on it. Tracing solves a key problem building async applications and has made my logs a lot more useful.

It took me about 2.5 weeks to integrate tracing with https://github.com/interle

[2019-11-21 17:02] hawkw commented on #442
Thanks so much for writing this up! This kind of feedback is really valuable, and I really appreciate that you took the time to put this together.

I'm going to spend some more time thinking about what actionable changes we can make to address some of these difficulties, but I wanted to leave a thank-you comment right away.

[2019-11-21 17:09] hawkw commented on #442
We have [this section](https://docs.rs/tracing/0.1.10/tracing/#in-libraries) in the docs on usage in libraries vs applications, and [this section](https://docs.rs/tracing/0.1.10/tracing/#related-crates) that lists some of the other crates in the ecosystem. Do you think that a good solution for this issue would be to integrate these sections, and reference the other crates in the "In Libraries"/"In

[2019-11-21 17:29] emschwartz commented on #442
Good point. It might be worth copying some of that text into the [top-level README](https://github.com/tokio-rs/tracing/blob/master/README.md) just because there's a good chance that's where a new person will land first.

There is this line: `The tracing crate contains the primary instrumentation API, used for instrumenting libraries and applications to emit trace data.` but it's easier to miss th

[2019-11-21 18:05] hawkw commented on #442
That's a good suggestion — the `tracing` _crate_'s README [contains these docs](https://github.com/tokio-rs/tracing/tree/master/tracing#usage) but the top level docs don't. I didn't want to duplicate the same docs in three places (`tracing/src/lib.rs`, `tracing/README.md`, and `README.md`) because it gets hard to keep them in sync...maybe having separate READMEs for the `tracing` crate and the rep

[2019-11-21 19:38] EverlastingBugstopper opened #444 "tracing-fmt: example out of date"
## Bug Report

### Version

[code]

### Platform

Darwin C02VM0JPHTDD 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64 x86_64

### Crates

`tracing-fmt`
`tracing-subscriber`

### Description

I tried copy and pasting [this file](https://github.com/tokio-rs/tracing/blob/master/tracing-fmt/examples/custom_visitor.rs) into a new cargo project an

[2019-11-21 20:14] #427 closed

[2019-11-21 20:47] emschwartz commented on #442
I didn't actually know that you could point Cargo.toml to a different readme file but that sounds like a good solution

[2019-11-21 20:59] hawkw commented on #444
Thanks! I think the example should also be moved to https://github.com/tokio-rs/tracing/tree/master/examples/examples

[2019-11-21 21:29] andrewbanchich opened #445 "ANSI broken on Windows 10"
`ansi_term` requires Windows 10 programs to [explicitly enable ANSI support](https://github.com/ogham/rust-ansi-term#basic-usage).

Without doing this, using `cargo run` or `cargo run --release` display `tracing` logs correctly, but when running the binary installed with `cargo install --path .` it results in broken ANSI strings.

Is this something you think `tracing` should fix out of the box, sh

[2019-11-22 00:05] anp opened #446 "Document MSRV"
As mentioned during review of https://github.com/tokio-rs/tracing/pull/441, it would be ideal if the minimum supported rust version were documented in READMEs, docs, etc.

[2019-11-22 22:45] hawkw opened #449 "subscriber: test "field_filter_events" in is flaky"
We need to fix this.

Perhaps moving it to its own file is sufficient?

[2019-11-22 22:47] hawkw commented on #445
@andrewbanchich hmm. We're currently using the [`ansi_term`](https://crates.io/crates/ansi_term) crate for ANSI colors. My initial thought is that _it_ should handle this behavior — maybe the best solution is a patch upstream?

[2019-11-22 22:55] andrewbanchich commented on #445
@hawkw It does handle it (see the link I posted) but just not by default.

[2019-11-22 23:06] hawkw commented on #445
Ah, sorry, I misinterpreted your comment (and didn't click the link), my bad. I think we probably want to do that when constructing the subscriber if the target OS is windows, then?

[2019-11-23 01:57] andrewbanchich commented on #445
That makes sense to me. I'll give this a shot and have a pull request soon.

[2019-11-26 16:43] jonhoo opened #452 "Document generic S parameter in Layer trait"
## Bug Report

The `Layer` trait in `tracing-subscriber` has a type parameter called `S`, but the docs do not say what that parameter is meant to represent. I _think_ it's the "inner" subscriber, but the docs should make that clear.

[2019-11-26 20:31] jonhoo opened #453 "Segfault when using `downcast_ref` through `Layer`"
## Bug Report

### Version

[code]

### Description

The following program segfaults:
[code]

There is no `unsafe` in this code, so it should at least not segfault. I believe the program should run even correctly (as in, no `unwrap` call should fail) given the documented behavior of `downcast_ref`.

[2019-11-26 22:16] #453 closed

[2019-11-26 22:48] jonhoo opened #455 "Consistency between various *default methods"
## Feature Request

- `tracing::dispatcher::set_default` takes `&Dispatch`
- `tracing::dispatcher::set_global_default` takes `Dispatch`
- `tracing::dispatcher::with_default` takes `&Dispatch`

These should all take one or the other. `&Dispatch` is definitely more ergonomic (and we clone internally), `Dispatch` saves us a clone in certain cases. Either way, we should stick with one.

[2019-11-26 22:58] jonhoo opened #456 "API inconsistency between event and span argument order"
## Feature Request

`span!` currently takes the "name" first, then fields, whereas `event!` takes the fields first then the "message". This means that you end up with the docs [showing](https://docs.rs/tracing/0.1.10/tracing/#recording-fields) examples like:

[code]

The fact that the fields come _before_ the string argument in `span!`, but _after_ the string argument in `event!` is surprising, an

[2019-11-26 23:33] hawkw commented on #456
so, the thing is...
[code]
is _also_ valid.

[2019-11-26 23:36] jonhoo commented on #456
Could we perhaps use "special" syntax for a span's name somehow? To make it clear that it's something _different_ from the message? Alternatively, can events also have names?

[2019-11-27 02:04] andrewbanchich commented on #445
@hawkw Any thoughts on me swapping out `ansi_term` for [colored](https://github.com/mackwic/colored)? `colored` has full Windows support and doesn't look like you need to call any special functions conditionally. Plus, it looks nicer overall.

[2019-11-27 19:49] #418 closed

[2019-11-29 15:44] xd009642 commented on #399
I'd be willing to help with this as it's an issue I've came up against. I may need some help though

[2019-12-05 18:52] rklaehn opened #458 "High CPU usage when misusing spans"
## Bug Report

### Version

[code]

### Platform

[code]

### Description

Not sure if this is a bug since the API was not used correctly, but since rust has the motto of fearless concurrency, I thought I might report it anyway. Maybe this can be better documented or caught.

We have a fairly large project that is using tracing internally. I had this very confusing behaviour where the thing would

[2019-12-05 20:49] hawkw opened #459 "tracing: log records generated by `log` feature flag are missing whitespace"
## Bug Report

### Version

[code]

### Crates

- `tracing`

### Description

When using the `tracing/log` feature flag to emit log records from tracing events which contain a message and fields, there is missing whitespace between the message and the rest of the fields.

For example, events like
[code]
and
[code]
result in `log` records like this:
[code]
Note how the messages ("inc_window" and "s

[2019-12-05 20:56] hawkw commented on #458
Looking at your flamegraph, this appears to be a bug in `tracing-subscriber::fmt`. I'm guessing something in the `Store::new_span` method can cause a hot loop when a span is entered while it is still being inserted on another thread (though I may be wrong): https://github.com/tokio-rs/tracing/blob/bec40bc9624bcf4d26d3a5c622fdbefe4b853854/tracing-subscriber/src/fmt/span.rs#L333-L394

It's worth not

[2019-12-05 21:13] rklaehn commented on #458
I can try this right away. How would the git link in the Cargo.toml look like? Sorry about the stupid question, never done this before. I checked here https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html but could not find how to specify a git link to a subproject.

[2019-12-05 21:20] rklaehn commented on #458
Never mind. this is the right dependency spec, right?
[code]

[2019-12-05 21:37] rklaehn commented on #458
OK, I made the experiment. This seems to be the issue. Performance with the 0.2 alpha is **much** better than 0.1. See attached videos.

So when is 0.2 coming out? I am afraid we have to disable all tracing until then, as you can see from the video....

This has been driving me crazy, since apparently I was more affected by this than my colleagues due to me having the most virtual cores...

[traci

[2019-12-05 21:37] hawkw commented on #458
Yeah, that should work. Just FYI, you don't _need_ to specify everything you've listed here, the following should be equivalent:
[code]
:)

(note that if you were actually going to use a git dependency in production, you would probably want to pin to a fixed git revision, like so:
[code]

[2019-12-05 21:39] rklaehn commented on #458
FYI It seems that this is only related to spans. I have another branch where I have disabled all the spans but left in all the debug! and trace! calls, and it performs well and does not have the problem!

[2019-12-05 21:41] hawkw commented on #458
Awesome, that's great to hear! Glad the 0.2 release fixed it!

There's an `0.2.0-alpha.1` version of `tracing-subscriber` [already published](https://crates.io/crates/tracing-subscriber/0.2.0-alpha.1); however, there have been some important bug fixes merged since that was published. I can publish an `0.2.0-alpha.2` for you shortly if you're interested?

I'd like to get a release version of 0.2 ou

[2019-12-05 21:42] hawkw commented on #458
Yeah, that's not surprising — the issue is specifically in the code for storing in-progress spans in `tracing_subscriber::fmt`. Events (like `debug!`, `info!`, etc) _and_ other subscriber implementations shouldn't be affected at all.

[2019-12-05 21:43] rklaehn commented on #458
I think we would use `0.2.0-alpha.2` for now if you would publish it. Would I have to update the other tracing dependencies as well, or does tracing-fmt 0.2.0 work with tracing-0.1? (I mean, it seems to do in my test, but just asking...)

[2019-12-05 21:46] hawkw commented on #458
It should be totally compatible with everything else. The only breaking changes in 0.2 are to some of the APIs for customizing the behaviour of the `fmt` subscriber — for example, if you are setting a custom formatter for events, the traits for that have changed slightly.

[2019-12-05 21:51] rklaehn commented on #458
OK, so then it would be very cool if you could publish `0.2.0-alpha.2`. We would then use that for now and then update the rest later. Thanks a lot for the quick help!

[2019-12-06 09:35] rklaehn commented on #458
So I tried using an explicit reference to the most recent tracing on master for now. Like this:

[code]

works fine on my machine, and fixes the perf issues, but our CI fails for one of the ARM builds.

[code]

Apparently this is due to the new dependency on sharded-slab

[code]

Any way to get around this? It is marked as an optional dep.

[2019-12-06 18:31] hawkw commented on #458
Yeah, this is a known issue (https://github.com/hawkw/sharded-slab/issues/9) which has a [fix up](https://github.com/hawkw/sharded-slab/pull/11) — I can merge that as soon as I can get that passing CI, and publish a new `sharded-slab` release, and bump the dep in `tracing-subscriber`.

It's required by the `fmt` feature, which gives you the `FmtSubscriber` you're using. It's an optional dep becaus

[2019-12-06 19:52] rklaehn commented on #458
As soon as there is a new version I will try this out (on Monday) and see if it causes any issues on our various build targets. If not I would love to use it.

Yes, I saw that after investigating the feature dependencies more closely...

[2019-12-08 20:16] hawkw commented on #458
@rklaehn published a new alpha: https://crates.io/crates/tracing-subscriber/0.2.0-alpha.2

Sorry it took a couple days, had to un-break some unrelated build failures first.

[2019-12-09 23:17] yaahc opened #464 "fmt: add SpanBacktrace API"
## Feature Request

This feature is currently available in the experimental `tracing-error` crate Eliza has been working on. The goal is to get this moved into fmt proper.

### Crates

tracing-subscriber

### Motivation

I would like to be able to get the SpanBacktrace itself to shove into other error types or format into strings or w/e for creating nice rich user facing errors.

### Additional Qu

[2019-12-10 16:21] davidbarsky commented on #77
I thought about this a bit more and I think I prefer `field = _` despite the possible confusion with assignment syntax. The `field = _` syntax reminds of anonymous lifetimes (`'_`) and placeholders in generics (`Vec<_>`) _much more_ than the fact we're not assigning values to fields.

[2019-12-10 23:51] davidbarsky opened #466 "tracing: trait bound error when calling `Span::follows_from`"
When attempting to write:

[code]

Rust fails with the following error:

[code]

Here's a minimal reproduction: https://github.com/davidbarsky/tracing-reproduction. The only dependency is `tracing-0.1.10`.

---

As a workaround, I wrote the following instead:

[code]

[2019-12-10 23:52] hawkw commented on #466
this argument type is almost certainly the problem:
https://github.com/tokio-rs/tracing/blob/43a160cdc575aae186002ed575527e4960423b20/tracing/src/span.rs#L723

[2019-12-11 00:04] davidbarsky commented on #466
Having changed `Span::follows_from`:

[code]

The example I provided now works.

[2019-12-11 09:54] arthurprs commented on #372
Another motivation: Sometimes you want the pattern
[code]

[2019-12-12 20:23] jonhoo opened #469 "Ability to detect `Span::none`"
## Feature Request

There is currently no way to detect when a span is "empty" (i.e., it was created with `Span::none`). This would be handy in cases where you want to perform some (perhaps costly) additional metric-gathering when a particular request _is_ being traced (i.e., it has a `Span`).

[2019-12-13 09:45] rklaehn commented on #458
Thanks a lot :heart: . Will try if this works on all our targets.

Can you give a rough estimate when tracing 0.2.0 will be out? When it's done is also a perfectly valid answer.

[2019-12-13 17:38] hawkw commented on #458
"When it's done, but hopefully soon"? There are a couple of APIs I want to try to clean up before releasing 0.2, but I haven't had the time to work on that lately. If it ends up taking too long, I can probably push some of that to an eventual 0.3 — there's already a lot of new stuff in 0.2.

[2019-12-16 23:53] hawkw opened #473 "tracing: add a `Span` method for getting the dispatcher"
## Feature Request

### Crates

`tracing`

### Motivation

The `Span` type internally stores a `Dispatch`:
https://github.com/tokio-rs/tracing/blob/8308d53ac6a8b7632aa73a809e7b05b22332f43c/tracing/src/span.rs#L366-L370

This `Dispatch` always forwards to the `Subscriber` that assigned the span's ID, and will receive notifications when it's entered, exited, or closed.

However, there's no way for u

[2019-12-16 23:53] hawkw commented on #473
cc @davidbarsky, @jtescher, @pkinsky

[2019-12-17 00:27] hawkw commented on #464
I'm down for adding something along the lines of this, but I think we can have a significantly more general API. We could have a free function that exposes something like the `Context::scope` iterator https://github.com/tokio-rs/tracing/blob/8308d53ac6a8b7632aa73a809e7b05b22332f43c/tracing-subscriber/src/layer.rs#L822-L840

but through downcasting the current subscriber.

Then, on top of that, we

[2019-12-17 01:00] jtescher commented on #473
I like this approach :+1:. `ElizaTracing` layer implementations would need to be able to update span/trace ids after creation, but they could do that with their own Span extension that recorded the necessary data.

[2019-12-17 19:31] hawkw opened #474 "fmt: missing space between timestamp and level"
## Bug Report

### Version
[code]

### Crates

- `tracing-subscriber`

### Description

The old `tracing-subscriber` formatter used to output a space between the timestamp and level. It seems that it no longer does. This looks fine with 4-character levels (INFO, WARN), but weird with 5-character levels (DEBUG, TRACE, ERROR).

For example:
<img width="188" alt="Screen Shot 2019-12-17 at 11 28 53 AM

[2019-12-17 19:54] #466 closed

[2019-12-18 21:17] hawkw opened #476 "fmt: weird formatting with targets disabled"
## Bug Report

### Crates

- `tracing-subscriber`

### Description

When configuring a formatter with
[code]
events are formatted with a second space and colon following the span context, like this:
![Screen Shot 2019-12-18 at 1 11 08 PM](https://user-images.githubusercontent.com/2796466/71123732-281dab00-2198-11ea-9441-5c8941f885c1.png)

This doesn't look great. We should fix it.

The issue is in

[2019-12-18 22:23] pkinsky commented on #473
I really like this, a lot of that code that'd be simplified looks suspiciously familiar ;)

I think you're right that option 2 makes the most sense. Mind if I take a crack at implementing it?

[2019-12-18 23:29] hawkw commented on #473
Go for it — it should be fairly straightforward, but please feel free to ping me if you need any advice!

[2019-12-18 23:30] #469 closed

[2019-12-19 08:43] rklaehn commented on #458
OK, I have now switched to alpha 2, it passes all tests and has no perf impact anymore. We are going to use this in production.

Is there a regression test to make sure the perf does not degrade, or is it such an obvious change that that is not necessary?

In any case, thanks for the quick help. Feel free to close this issue. For us it is solved with 0.2 alpha 2.

[2019-12-19 15:46] hawkw commented on #458
There are some benchmarks, but I'll have to double check that this specific case is covered.

[2019-12-19 22:40] hawkw opened #479 "chore: make "nightly-examples" the default"
## Feature Request

### Motivation

Currently, there's separate "nightly-examples" and "nightly-tests" directories for examples and tests using async-await. This was necessary when the minimum supported Rust version didn't have async-await syntax. However, this is no longer necessary, since we now require Rust 1.39.0+.

### Proposal

We should move these examples and tests into the regular "exampl

[2019-12-19 22:43] hawkw commented on #422
Closing this in favour of getting span lifecycles into `tracing-subscriber`'s `fmt`. Thanks for the discussion & input, everyone!

[2019-12-19 22:44] hawkw commented on #455
Unfortunately, I think this is a breaking change. So, we can do it, but it'll have to wait until the next time we break APIs in `tracing-core` (which may not be for a while)...

[2019-12-20 21:45] #459 closed

[2019-12-20 21:48] #446 closed

[2019-12-20 21:48] #476 closed

[2019-12-20 21:49] #474 closed

[2019-12-20 23:19] nicholasbishop opened #489 "tracing-subscriber: fmt::SubscriberBuilder::init() log compat doesn't work"
The documentation for tracing-subscriber makes it sound like I can convert logging with the `log` crate into logging with the `tracing` crate: https://docs.rs/tracing-subscriber/0.2.0-alpha.2/tracing_subscriber/fmt/struct.SubscriberBuilder.html#method.init

But this is not working for me. Here's my test code:

[code]

And my cargo deps:
[code]

This prints the trace line but not the log line:
[cod

[2019-12-21 00:55] hawkw commented on #489
Hmm, this _should_ work — thanks for the report, this is definitely a bug.

I believe this `cfg` attribute is incorrect:
https://github.com/tokio-rs/tracing/blob/d63b026f0f379c5cf454c30ed28232593b339a6d/tracing-subscriber/src/fmt/mod.rs#L308-L309

[2019-12-21 00:56] hawkw commented on #489
It looks like this _used_ to just be
[code]
which worked. I think PR #420 seems to have (inadvertently?) changed this: https://github.com/tokio-rs/tracing/blame/master/tracing-subscriber/src/fmt/mod.rs#L308-L309

@davidbarsky can you take a look?

[2019-12-21 00:59] hawkw commented on #489
@nicholasbishop While we fix this, you can add a call to
[code]

[2019-12-21 01:07] hawkw commented on #373
More crates that should be linked:
- [`honeycomb-tracing`](https://github.com/pkinsky/honeycomb-tracing) by @pkinsky
- [`tracing-opentelemetry`](https://github.com/jtescher/tracing-opentelemetry) by @jtescher

[2019-12-21 03:49] davidbarsky commented on #489
@hawkw: yeah, that’s my bad.

[2019-12-21 22:54] nicholasbishop commented on #489
Thanks for the quick reply and workaround!

[2019-12-23 19:20] #489 closed

[2019-12-23 20:23] briansmith-agilebits opened #492 "Vendored `spin` crate is not maintained upstream"
## Bug Report

`cargo deny check` for my project reports:

[code]

I see now you are vendoring `spin`. I don't think you are intending to become the new primary maintainers of `spin`. What are your plans regarding `spin`? I am in a similar situation where people are getting warnings when they use my crates (e.g. *ring*) and I'm interested in finding a solution that works for lots of people.

[2019-12-23 21:11] hawkw commented on #492
Thanks for bringing this up! For now, I'm willing to maintain the code we have vendored from `spin` as a component of `tracing-core`.

However, in the future, if there is a widely used spinlock implementation we can replace the vendored code with, I'd be _very_ happy to remove it — I don't like the potential binary bloat that can result from vendoring in this manner.

We need the vendored `spin` f

[2019-12-23 21:19] hawkw commented on #492
I'd be quite happy to release and maintain a new spinlock implementation, but that isn't really a complete solution to the problem. The goal is specifically that we would depend on the same spinlock crate as any other dependencies, to avoid compiling similar but not identical code into a binary.

[2019-12-23 21:53] briansmith-agilebits commented on #492
See https://github.com/briansmith/ring/issues/921#issuecomment-568587278. I believe the problem you have is exactly the same problem as mine, and I think the ultimate solution is likely to be the same: Find (or build) a third-party spinlock-based `Lazy` implementation that works for our use cases and encourage others to use it when a spinlock is warranted, and use whatever gets standardized into l

[2019-12-24 08:28] toidiu commented on #479
I would like to help with this.

[2019-12-26 09:12] toidiu commented on #479
I am hitting the following error when trying to compile the nightly test. I think I have narrowed the cause to [`tower-macros` dependency](https://github.com/toidiu/tracing/blob/ak-479/examples/Cargo.toml#L40). Oddly enough though this doesn't happen when I run cargo test in the nightly-examples directory.

[code]

**To reproduce** run `cargo test` in the following branch https://github.com/toidiu

[2019-12-26 15:12] davidbarsky commented on #479
Try bumping the recursion limit if you haven’t already: https://doc.rust-lang.org/reference/attributes/limits.html

[2019-12-26 16:47] toidiu commented on #479
bumped it up to 2048 with no luck

[2019-12-26 17:11] toidiu commented on #479
Btw I am running stable rustc 1.40 on darwin.

[2019-12-26 17:20] hawkw commented on #479
This is probably a bug in the `log` compatibility macros. I can take a look at it. Would you mind opening a separate issue for this? Thanks!

[2019-12-26 21:07] toidiu commented on #479
Will do. Thanks for the quick response times!

[2019-12-27 00:18] toidiu opened #493 "Log macro recursion limit exceeded"
## Bug Report

### Version
Master branch tracing source code. While trying to build example in source code. This occurred while trying to complete https://github.com/tokio-rs/tracing/issues/479

### Platform
Darwin f45c89a38ea9.ant.amazon.com 18.7.0 Darwin Kernel Version 18.7.0: Sat Oct 12 00:02:19 PDT 2019; root:xnu-4903.278.12~1/RELEASE_X86_64 x86_64

### Crates
tokio-macros it seems like

### D

[2019-12-28 22:31] toidiu commented on #493
@hawkw created the issue for macro recursion limit exceeded.

[2019-12-29 14:09] BertalanD opened #494 "tracing-subscriber does not compile with env_filter disabled"
## Bug Report

### Version
[code]
### Platform
    Linux hostname 5.4.6-arch3-1 #1 SMP PREEMPT Tue, 24 Dec 2019 04:36:53 +0000 x86_64 GNU/Linux

### Crates
- tracing-subscriber

### Description
Compiling `tracing-subscriber` with feature `fmt` enabled, but `env_filter` disabled causes compile error:
[code]

Tested on a Hello World crate with the following Cargo.toml:
...
[code]

Expected behavior:

[2019-12-29 23:30] hawkw commented on #494
Whoops, thanks for catching this. We need to figure out a better strategy for testing across feature flags...

[2019-12-30 00:37] davidbarsky commented on #494
I think we should start using https://github.com/taiki-e/cargo-hack on CI, like Tokio does. That would’ve probably caught this issue.

[2019-12-30 00:59] cjlucas opened #495 "Layer::on_close may not be called depending on order spans are dropped"
## Bug Report

### Version

[code]

### Platform

macOS High Sierra Version 10.13.6
[code]

### Crates

`tracing-subscriber`

### Description

Depending on the order in which the spans are dropped, `Layer::on_close` may or may not be called. [This minimal project](https://github.com/cjlucas/tracing-bug-poc) illustrates the issue. Note: the included `tracing-subscriber` package was only modified to

[2019-12-30 01:26] hawkw commented on #494
+1 — if you have a minute to set that up, that would be great.

[2019-12-30 20:21] cjlucas commented on #495
I believe the issue lies with `SpanStack`, and how it assumes spans are popped in FILO order.

If we look at `Registry::enter`, it only attempts to close the span if `pop` returns `Some`:

https://github.com/tokio-rs/tracing/blob/37faa297694908804665773d0281013ac948b093/tracing-subscriber/src/registry/sharded.rs#L203-L207

And `SpanStack::pop` will only return `Some` if the provided `id` is at the

[2019-12-30 22:16] pkinsky commented on #473
Sorry, I've been offline for a while b/c holidays. This was fairly easy to implement (I think I was assuming it'd be harder based on the difficulty of finding a workaround). I just need to write up a rustdoc comment for the function and then I'll file a PR

[2019-12-31 00:01] yaahc commented on #158
For posterity, in case anyone else runs into this itch, I've managed to solve the issue locally by adding the following helper macro to my crates.

[code]

[2019-12-31 01:19] hawkw commented on #158
@yaahc fwiw, I am definitely open to considering upstreaming a macro like that, I'm just a _little_ concerned about the maintenance burden of macros...if it's something a lot of people find useful, we can definitely bring it into `tracing`.

[2019-12-31 21:07] davidbarsky commented on #495
I think so, but I might be wrong. I think in _most_ cases, the `id` of the span being dropped will be at the top of the stack. If it's not, it'll probably be close behind, so the search will terminate pretty quickly.

[2019-12-31 21:29] hawkw commented on #495
Yeah, that seems like the correct behavior to me.

David is right: when `exit` is called, the only time the exited span will not be at the top of the stack is when `Entered` guards are manually dropped  out of order like in the repro here. So, most of the time, we will not do much iterating.

[2020-01-02 16:35] davidbarsky commented on #495
This is a pretty easy bug to fix. For anyone interested in fixing this one before we get to it, you'll need to find and remove the span ID from the span stack here:

https://github.com/tokio-rs/tracing/blob/37faa297694908804665773d0281013ac948b093/tracing-subscriber/src/registry/stack.rs#L36-L46.

[2020-01-02 18:59] hawkw commented on #494
I think #500 should fix this.

[2020-01-02 19:00] hawkw opened #501 "chore: run `cargo-hack` on CI"
I think we should start using https://github.com/taiki-e/cargo-hack on CI, like Tokio does. That would’ve probably caught this issue.

_Originally posted by @davidbarsky in https://github.com/tokio-rs/tracing/issues/494#issuecomment-569556563_

[2020-01-02 19:01] #494 closed

[2020-01-02 22:04] yaahc commented on #158
would going from this

[code]

to this

[code]

solve the latter problem?

[2020-01-02 23:05] hawkw commented on #473
@pkinsky any updates?

[2020-01-02 23:05] hawkw commented on #495
@cjlucas are you interested in working on a fix?

[2020-01-03 19:09] pkinsky commented on #473
@hawkw PR here: https://github.com/tokio-rs/tracing/pull/503/files

[2020-01-03 19:13] anp opened #504 "Expose tracing_core::span::Current from tracing"
## Feature Request

### Motivation

Implement a subscriber only using types exported from the tracing crate without having to reference tracing-core directly.

### Proposal

Re-export under `tracing::span::Current`.

### Alternatives

Probably, not sure though.

[2020-01-03 19:41] anp opened #505 "Make `tracing_subscriber::span::{Data, Store, etc}` public"
## Feature Request

### Crates

tracing-subscriber

### Motivation

I'm implementing a `Subscriber` similar to `Formatter` in many ways and would like to reuse the span allocation it makes use of in `span::Store`.

### Proposal

Is it safe to expose these types as directly usable? That would probably be my preference to avoid having to implement my own slab/locking/etc setup.

### Alternatives

Is

[2020-01-03 19:50] hawkw commented on #504
I think we can definitely do this. Any particular motivation for not depending on `tracing-core` explicitly, or just simplifying imports & dependencies?

[2020-01-03 19:50] davidbarsky commented on #505
@anp If I'm not mistaken, the [`LookupSpan`](https://tracing.rs/tracing_subscriber/registry/trait.lookupspan) trait + [`Registry`](https://tracing.rs/tracing_subscriber/struct.registry) struct should address your issue. However, you'd implement a _Layer_ instead of Subscriber. Here's a basic one done by @tobz: https://github.com/metrics-rs/metrics-tracing-test/blob/master/src/layer.rs.

[2020-01-03 20:23] anp commented on #505
Huzzah! I think this is perfect actually, I would like all of my code to live in layers and to have the subscriber just act as the registry.

I'm tempted to rephrase this as a docs/tutorial request but I'm not well-versed enough in the subscriber crate yet to know where would be the best place.

[2020-01-03 20:25] anp commented on #504
Just simplifying imports & dependencies. If I'm already consuming everything else from tracing-core via tracing, it's a weird cliff in the API to add just one item. Alternatively, exposing it via `tracing-subscriber` could make sense? While it's not guaranteed that every implementor of `tracing_core::Subscriber` would consume `tracing-subscriber`, it would be true in my case at least.

[2020-01-03 20:29] davidbarsky commented on #505
@anp you're right, this _does_ need to be documented and it's _not_ yet documented. it really does.

[2020-01-03 21:12] #473 closed

[2020-01-03 21:20] hawkw commented on #504
In general, I think a subscriber being implemented in the same crate as code that's implemented using `tracing` is not the most common case...generally, I expect subscriber implementations to be standalone crates that either depend on `tracing-core` or `tracing-subscriber`. If you're using `tracing-subscriber`, you're probably implementing the `Layer` trait rather than the `Subscriber` trait, and

[2020-01-03 21:56] anp commented on #504
Right, this all makes sense. I think my confusion would have been better prevented by better subscriber docs (https://github.com/tokio-rs/tracing/issues/505#issuecomment-570689129), so I’ll close this without a clear motivator and since I probably won’t need to reference Current after all.

[2020-01-03 21:56] #504 closed

[2020-01-03 22:08] hawkw commented on #430
@yaahc any progress on this?

[2020-01-03 22:09] #501 closed

[2020-01-04 00:27] cjlucas commented on #495
@hawkw can do. I'll take a stab at it this weekend.

[2020-01-04 23:08] #373 closed

[2020-01-05 00:06] cjlucas opened #511 "registry::DataInner may not be dropped if child spans are dropped out of order"
## Bug Report

### Version

`tracing-subscriber 0.2.0-alpha2`

### Platform

macOS 10.14.4
[code]

### Crates

`tracing-subscriber`

### Description

Given a program with nested spans that are dropped out of order:

[code]

Results in the following scenario:
* The DataInner for `span3` is dropped. `span2` is its parent, so [we attempt to](https://github.com/tokio-rs/tracing/blob/master/tracing-sub

[2020-01-05 00:22] cjlucas commented on #511
My first inclination was to work around the issue by doing something like:

[code]

But I don't have a good macro understanding of this project to say whether or or not the default dispatcher will be a `Registry`.

[2020-01-05 17:57] sazzer opened #512 "EnvFilter::from_default_env() acts differently to env_logger"
## Bug Report

### Version

tracing = "0.1.11"
tracing-log = "0.1.1"
tracing-subscriber = "0.1.6"

### Platform

Darwin xxxxx.local 18.7.0 Darwin Kernel Version 18.7.0: Sat Oct 12 00:02:19 PDT 2019; root:xnu-4903.278.12~1/RELEASE_X86_64 x86_64

### Crates

tracing-subscriber

### Description

I've just migrated from `log` and `env_logger` to use tracing instead, and I've found that the way RUST_LO

[2020-01-05 20:26] #495 closed

[2020-01-06 18:06] hawkw commented on #512
Hmm, I think this is a bug. The filter _should_ pick the longest filtering directive first. Thanks for the report!

[2020-01-06 23:58] hawkw commented on #511
Hmm. I think perhaps the right thing to do would just be to change `tracing-core` so that the current default dispatcher is only disabled in `new_span` and `event`, which is sufficient to avoid infinite dispatch loops but lets us freely call into our own `try_close` implementation. Come to think of it, I _thought_ we already made that change...

[2020-01-07 23:47] #430 closed

[2020-01-08 00:03] #511 closed

[2020-01-08 09:04] rklaehn opened #515 "Possible memory leak in tracing-subscriber"
## Bug Report

### Version

tracing-subscriber v0.2.0-alpha.2

### Platform

Linux linux-box 4.15.0-72-generic #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Description

There seems to be a memory leak or something that looks like a memory leak that is related to tracing-subscriber. Here is a screenshot of heaptrack with an app that heavily uses tracing.

![image]

[2020-01-08 13:31] davidbarsky commented on #515
I believe there was a memory leak and it _might’ve_ been addressed in https://github.com/tokio-rs/tracing/pull/514.

[2020-01-08 19:43] hawkw commented on #515
I'm fairly certain that David is correct that this is caused by the two issues fixed in PR #514, both of which resulted in some closed spans not having their per-span data removed from the registry. @rklaehn, would you mind trying against the current master, now that #514 has merged? Hopefully you won't see out-of-control heap growth.

If that's not the case, it's possible something else is going

[2020-01-08 21:01] hawkw commented on #384
I believe #496 closed this.

[2020-01-08 21:01] #384 closed

[2020-01-08 21:03] hawkw opened #516 "docs: consider adding a table of contents to readmes"
## Feature Request

### Crates

- `tracing`
- root readme

### Motivation

Now that we've added a lot of usage examples to the repo root and `tracing` crate's README files, they've started to get quite long.

### Proposal

Maybe we should add a table of contents with links to the different sections?

### Alternatives

Alternatively, we could..."not" do this.

[2020-01-08 21:04] hawkw commented on #516
cc @davidbarsky @yaahc do you have opinions on whether this is a good idea?

[2020-01-08 21:10] hawkw commented on #516
The `tracing` crate's top-level RustDoc has [gotten quite long](https://tracing.rs/tracing/) as well...perhaps it also ought to have a table of contents?

[2020-01-08 21:11] davidbarsky commented on #516
@hawkw I think it's a good idea, but one of the the issues I ran into with https://github.com/tokio-rs/tracing/pull/496 is that I needed to update the doc in three places—the root `README.md`, `tracing/README.md`, and `tracing/src/lib.rs`, and that's a pain. We should be able to update the docs in _one_ spot and have that change reflected everywhere.

To the best of my knowledge, we either need to

[2020-01-08 21:16] hawkw commented on #516
@davidbarsky hmm, I think `feature(external_doc)` might be okay — since docs.rs always builds on nightly, and we're planning on adding `doc_cfg` attributes (https://github.com/tokio-rs/tracing/issues/440) which also require a feature flag. So, I think we can have full docs builds require a cfg passed to RUSTDOC_FLAGS, making it okay to use external_doc...

[2020-01-08 21:16] hawkw commented on #440
@yaahc any progress on this? it would be great to get it in before the next release cycle

[2020-01-08 21:28] davidbarsky commented on #516
@hawkw Gotcha. I forgot that we were planning to use unstable features for building docs. As @mystor noted, `#[doc(include = "")]` will be replaced by `#[doc(include_str = "")]` at _some_ point, so we can update to that form when that feature is ready. It probably won't be too big of a change.

[2020-01-08 23:13] d-e-s-o opened #518 "Build error when `env-filter` feature is not specified"
## Bug Report

### Version

`tracing-subscriber-0.1.6`

### Platform

Linux 4.19, 64 bit

### Description

I am getting the following build error:
[code]

That happens with:
[code]
I have to add the `env-filter` feature to make it go away.

[2020-01-09 00:03] mystor commented on #516
The proposed replacement is actually `#[doc = include_str!("")]`, from https://github.com/rust-lang/rust/issues/44732#issuecomment-562859946 and https://github.com/rust-lang/rust/pull/67121.

[2020-01-09 00:38] davidbarsky commented on #516
D'oh, thank you.

[2020-01-09 01:28] hawkw commented on #518
Thanks for the report! I *believe* this issue no longer exists in the `tracing-subscriber` 0.2.x series, which is currently in alpha, so when 0.2.0 is stable, this should be fixed.

[2020-01-09 08:09] rklaehn commented on #515
Thanks for the quick response. I will try out the latest version, but I don't have time to do it today. Will be some time.

I am currently on the hunt for an _unrelated_ slow memory leak in a fairly complex application, so everything that slowly grows over time is annoying even though it might stabilize at some point. No real good way to distinguish this from a real leak when looking at heapcheck

[2020-01-09 19:45] hawkw commented on #515
Hmm...I think we could probably add a constructor that takes an initial capacity, and immediately allocates that much capacity every time a new thread tries to access the span slab. That's not a bad idea!

I _would_ also like to add the option to eagerly release empty slab pages back to the allocator. We might allow configuring an amount of capacity over which the slab should start releasing pages

[2020-01-09 21:38] d-e-s-o opened #521 "panicked at 'already borrowed: BorrowMutError'"
## Bug Report

### Version

tokio-0.2.8
tracing-0.1.11
tracing-futures-0.2.0
tracing-subscriber-0.1.6

### Platform

Linux 4.19, 64 bit

### Description

Here is a backtrace of a panic that I am seeing:
[code]

I am "experimenting" with `tracing`. My understanding of what is happening is that I am using `tracing::subscriber::set_default` and `tracing-core`, in some shut down path, is dropping the

[2020-01-09 22:02] hawkw commented on #521
Ahh, this is interesting: it looks like the issue is that the code in `tracing-subscriber`'s `Registry` that tries to get the default dispatcher to drop a span's parent will cause this panic if it runs _while_ the subscriber is being dropped.

While the change to `try_borrow_mut` should fix this, I am not totally sure if it is the best solution. The `RefCell` _should_ never be borrowed mutably in

[2020-01-10 00:54] d-e-s-o commented on #521
Good suggestion. Solves the issue for me. I'll open a pull request if you don't mind.

[2020-01-10 17:37] #521 closed

[2020-01-10 18:55] hawkw commented on #516
FWIW, I don't think it is _as_ critical to have a ToC in the lib docs as it is in the README...there's more stuff in the README.

[2020-01-10 18:56] hawkw commented on #518
@d-e-s-o would you mind checking if this still happens on `tracing-subscriber` from the current Git master? I'm planning on publishing `tracing-subscriber` 0.2.0-alpha.3 today, and I'd like to make sure this is fixed before publishing.

[2020-01-10 19:01] d-e-s-o commented on #518
Yes, still seeing it there.
[code]

[2020-01-10 19:16] d-e-s-o commented on #518
Uhm, sorry. I tested with upstream `0.2.0-alpha.2`. Checked against `master` now and compilation seems to get past this point, so I think it is fixed there indeed.

[2020-01-10 19:34] d-e-s-o commented on #518
I gather you don't want to fix it on the 0.1 branch. If so, feel free to close this issue.

[2020-01-10 21:44] hawkw commented on #518
We can backport fixes if there's user demand for it. We've backported changes to previous releases in the past & I'm willing to do so again. I mostly wanted to ensure that this issue _was_ fixed on 0.2.x.

[2020-01-10 22:34] d-e-s-o commented on #518
Would be great if we could have it in 0.1.x, unless 0.2 stabilizes, say, tomorrow :-)

[2020-01-10 22:39] hawkw commented on #518
Well, I'm hoping 0.2.0-alpha.3 will be the last alpha before 0.2.0 stable. But, I'm happy to fix it on 0.1.x as well if that's helpful!

[2020-01-11 14:03] LaylConway opened #532 "tracing-subscriber 0.2.0-alpha.3 contains dbg macros, spamming console."
## Bug Report
As mentioned, version 0.2.0-alpha.3 of tracing-subscriber contains `dbg!` macro usage.
This is currently slowing my application down to unusable levels, and spamming the console, drowning out useful information.

### Version
tracing-subscriber 0.2.0-alpha.3

### Platform
64-bit Windows

### Crates
tracing-subscriber

### Description

[2020-01-11 20:15] davidbarsky commented on #532
We released [`tracing-subscriber 0.2.0-alpha.4`](https://crates.io/crates/tracing-subscriber/0.2.0-alpha.4) that fixed this bug and yanked `tracing-subscriber 0.2.0-alpha.3`. Thanks for the report and sorry about the inconvenience.

[2020-01-11 20:15] #532 closed

[2020-01-12 14:03] davidbarsky commented on #515
We published [tracing-subscriber 0.2.0-alpha.4](https://crates.io/crates/tracing-subscriber/0.2.0-alpha.4),
which should address the issues you’re seeing.

Thanks _so_ much for putting this library through the paces and being diligent in cutting tickets when you see issues. It’s really hardened this library.

[2020-01-13 18:33] yaahc commented on #516
I'm a big fan of having a single source of information, though I feel like you end up wanting to add a few style bits when writing a README because of how github renders them that you dont end up wanting when rendering in rustdocs because of the way rustdoc renders the markdown, mainly a header.

As for the ToC, I'm not a huge fan of the idea because i worry that its a sign that the README has got

[2020-01-13 22:48] hawkw commented on #516
Hmm. Given that the README forms the sort of "splash page" that you see immediately upon looking up a crate on crates.io, I think it's important for the README to have at least one usage example — it's the first thing new users will see, so I think it's good to make a first impression. And I think there are a lot of things we ought to have in the readme that don't really belong in the lib docs, es

[2020-01-13 23:21] yaahc commented on #516
Yea, there should be enough info there for people to get an idea of what your crate does, how to set it up quickly, and maybe any common questions/answers people have. But I think the readme is closer being an about page/quickstart/advertisement than being actual documentation.

Agree about the getting help, contrib, etc. That is good stuff for the README, its like repo documentation vs crate docu